{"swagger":"2.0","info":{"title":"Akeneo PIM REST API","version":"1.0.0"},"host":"demo.akeneo.com","schemes":["http"],"produces":["application/json"],"paths":{"/api/rest/v1/products":{"get":{"summary":"Get list of products","operationId":"get_products","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to get a list of products. Products are paginated and they can be filtered. In the Enterprise Edition, since the 2.0, permissions based on your user groups are applied to the set of products you request.","parameters":[{"name":"search","in":"query","description":"Filter products, for more details see the <a href=\"/documentation/filter.html\">Filters</a> section","required":false,"type":"string"},{"name":"scope","in":"query","type":"string","description":"Filter product values to return scopable attributes for the given channel as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-channel\">Filter product values via channel</a> section","required":false},{"name":"locales","in":"query","type":"string","description":"Filter product values to return localizable attributes for the given locales as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-locale\">Filter product values via locale</a> section","required":false},{"name":"attributes","in":"query","type":"string","description":"Filter product values to only return those concerning the given attributes, for more details see the <a href=\"/documentation/filter.html#filter-product-values\">Filter on product values</a> section","required":false},{"name":"pagination_type","in":"query","description":"Pagination method type, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"page","x-validation-rules":"One of the following values","enum":["page","search_after"]},{"name":"page","in":"query","description":"Number of the page to retrieve when using the `page` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html#pagination\">Pagination</a> section","required":false,"type":"integer","default":1},{"name":"search_after","in":"query","description":"Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"cursor to the first page"},{"name":"limit","in":"query","description":"Number of results by page, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"integer","minimum":1,"maximum":100,"default":10},{"name":"with_count","in":"query","description":"Return the count of items in the response. Be carefull with that, on a big catalog, it can decrease performance in a significative way","default":false,"type":"boolean","required":false},{"name":"with_attribute_options","in":"query","description":"Return labels of attribute options in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_quality_scores","in":"query","description":"Return product quality scores in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_completenesses","in":"query","description":"Return product completenesses in the response. (Only available since the 6.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"6.0"}],"responses":{"200":{"description":"Return products paginated","schema":{"title":"Products","type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the current page of resources"}}},"first":{"type":"object","properties":{"href":{"type":"string","description":"URI of the first page of resources"}}},"previous":{"type":"object","properties":{"href":{"type":"string","description":"URI of the previous page of resources"}}},"next":{"type":"object","properties":{"href":{"type":"string","description":"URI of the next page of resources"}}}}},"current_page":{"type":"integer","description":"Current page number"}}},{"properties":{"_embedded":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}]}}}}}}]},"x-examples-per-version":[{"x-version":"1.7","x-example":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"},"previous":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"}},"current_page":3,"_embedded":{"items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/top"}},"identifier":"top","family":"tshirt","groups":[],"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}],"size":[{"locale":null,"scope":null,"data":"m"}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"]}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}]}}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/cap"}},"identifier":"cap","family":"caps","groups":[],"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Cap","locale":"en_US","scope":null},{"data":"Casquette","locale":"fr_FR","scope":null}],"description":[{"data":"Cap unisex","locale":"en_US","scope":"ecommerce"},{"data":"Cap unisex","locale":"en_US","scope":"tablet"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"ecommerce"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"20","currency":"EUR"},{"amount":"20","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"groups":[]}},"quantified_associations":{}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/sweat"}},"identifier":"sweat","family":null,"groups":[],"categories":["winter_collection"],"enabled":true,"values":{},"created":"2016-06-23T11:24:44+02:00","updated":"2016-06-23T11:24:44+02:00","associations":{},"quantified_associations":{}}]}}},{"x-version":"2.0","x-example":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"},"previous":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"}},"current_page":3,"_embedded":{"items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/top"}},"identifier":"top","family":"tshirt","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}],"size":[{"locale":null,"scope":null,"data":"m"}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"]}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}]}}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/cap"}},"identifier":"cap","family":"caps","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Cap","locale":"en_US","scope":null},{"data":"Casquette","locale":"fr_FR","scope":null}],"description":[{"data":"Cap unisex","locale":"en_US","scope":"ecommerce"},{"data":"Cap unisex","locale":"en_US","scope":"tablet"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"ecommerce"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"20","currency":"EUR"},{"amount":"20","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"groups":[]}},"quantified_associations":{}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/sweat"}},"identifier":"sweat","family":null,"groups":[],"parent":null,"categories":["winter_collection"],"enabled":true,"values":{},"created":"2016-06-23T11:24:44+02:00","updated":"2016-06-23T11:24:44+02:00","associations":{},"quantified_associations":{}}]}}},{"x-version":"2.1","x-example":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3"},"previous":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3"}},"current_page":3,"_embedded":{"items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/top"}},"identifier":"top","family":"tshirt","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}],"size":[{"locale":null,"scope":null,"data":"m"}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"]}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/cap"}},"identifier":"cap","family":"caps","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Cap","locale":"en_US","scope":null},{"data":"Casquette","locale":"fr_FR","scope":null}],"description":[{"data":"Cap unisex","locale":"en_US","scope":"ecommerce"},{"data":"Cap unisex","locale":"en_US","scope":"tablet"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"ecommerce"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"20","currency":"EUR"},{"amount":"20","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black"}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/sweat"}},"identifier":"sweat","family":null,"groups":[],"parent":null,"categories":["winter_collection"],"enabled":true,"values":{},"created":"2016-06-23T11:24:44+02:00","updated":"2016-06-23T11:24:44+02:00","associations":{},"quantified_associations":{}}]}}},{"x-version":"5.0","x-example":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3&with_quality_scores=true&with_attribute_options=true"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3&with_quality_scores=true&with_attribute_options=true"},"previous":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3&with_quality_scores=true&with_attribute_options=true"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3&with_quality_scores=true&with_attribute_options=true"}},"current_page":3,"_embedded":{"items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/top"}},"identifier":"top","family":"tshirt","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/cap"}},"identifier":"cap","family":"caps","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Cap","locale":"en_US","scope":null},{"data":"Casquette","locale":"fr_FR","scope":null}],"description":[{"data":"Cap unisex","locale":"en_US","scope":"ecommerce"},{"data":"Cap unisex","locale":"en_US","scope":"tablet"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"ecommerce"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"20","currency":"EUR"},{"amount":"20","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/sweat"}},"identifier":"sweat","family":null,"groups":[],"parent":null,"categories":["winter_collection"],"enabled":true,"values":{},"created":"2016-06-23T11:24:44+02:00","updated":"2016-06-23T11:24:44+02:00","associations":{},"quantified_associations":{},"quality_scores":{}}]}}},{"x-version":"SaaS","x-example":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=3&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=1&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"},"previous":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=2&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/products?page=4&limit=3&with_quality_scores=true&with_completenesses=true&with_attribute_options=true"}},"current_page":3,"_embedded":{"items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/top"}},"uuid":"aaf518b2-f91e-40f1-a53a-78ce5e81a6f9","identifier":"top","family":"tshirt","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":20},{"scope":"ecommerce","locale":"fr_FR","data":30},{"scope":"tablet","locale":"en_US","data":55},{"scope":"tablet","locale":"fr_FR","data":70}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/cap"}},"uuid":"aec6780b-c813-4bd7-8e24-1a8574471576","identifier":"cap","family":"caps","groups":[],"parent":null,"categories":["summer_collection"],"enabled":true,"values":{"name":[{"data":"Cap","locale":"en_US","scope":null},{"data":"Casquette","locale":"fr_FR","scope":null}],"description":[{"data":"Cap unisex","locale":"en_US","scope":"ecommerce"},{"data":"Cap unisex","locale":"en_US","scope":"tablet"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"ecommerce"},{"data":"Casquette unisexe","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"20","currency":"EUR"},{"amount":"20","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglasses"],"product_models":[],"groups":[]}},"quantified_associations":{},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":20},{"scope":"ecommerce","locale":"fr_FR","data":30},{"scope":"tablet","locale":"en_US","data":55},{"scope":"tablet","locale":"fr_FR","data":70}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/product/sweat"}},"uuid":"93f14b03-5ed3-4f23-87c6-ae3806041b6a","identifier":"sweat","family":null,"groups":[],"parent":null,"categories":["winter_collection"],"enabled":true,"values":{},"created":"2016-06-23T11:24:44+02:00","updated":"2016-06-23T11:24:44+02:00","associations":{},"quantified_associations":{},"quality_scores":{},"completenesses":[]}]}}}]},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}},"post":{"summary":"Create a new product","operationId":"post_products","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to create a new product. In the Enterprise Edition, since the v2.0, permissions based on your user groups are applied to the product you try to create.","parameters":[{"name":"body","in":"body","schema":{"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"400":{"description":"Bad request","x-details":"Can be caused by a malformed JSON request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":400,"message":"Invalid JSON message received"}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}},"patch":{"summary":"Update/create several products","operationId":"patch_products","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to update and/or create several products at once. Learn more about <a href=\"/documentation/update.html#update-behavior\">Update behavior</a>. Note that if no product exists for the given identifier, it creates it. In the Enterprise Edition, since the v2.0, permissions based on your user groups are applied to the products you try to update. It may result in the creation of drafts if you only have edit rights through the product's categories.","x-body-by-line":"Contains several lines, each line is a product in JSON standard format","parameters":[{"name":"body","in":"body","schema":{"x-examples":{"x-example-1":"{\"identifier\":\"cap\",\"values\":{\"description\":[{\"scope\":\"ecommerce\",\"locale\":\"en_US\",\"data\":\"My amazing cap\"}]}}","x-example-2":"{\"identifier\":\"mug\",\"group\":[\"promotion\"]}","x-example-3":"{\"identifier\":\"tshirt\",\"family\":\"clothes\"}"},"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}}],"responses":{"200":{"description":"OK","x-details":"Returns a plain text response whose lines are JSON containing the status of each update or creation","x-no-entity":true,"schema":{"type":"object","properties":{"line":{"type":"integer","description":"Line number"},"identifier":{"type":"string","description":"Resource identifier, only filled when the resource is a product"},"code":{"type":"string","description":"Resource code, only filled when the resource is not a product"},"status_code":{"type":"integer","description":"HTTP status code, see <a href=\"/documentation/responses.html#client-errors\">Client errors</a> to understand the meaning of each code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"x-example-1":"{\"line\":1,\"identifier\":\"cap\",\"status_code\":204}","x-example-2":"{\"line\":2,\"identifier\":\"mug\",\"status_code\":422,\"message\":\"Property \"group\" does not exist.\"}","x-example-3":"{\"line\":3,\"identifier\":\"tshirt\",\"status_code\":201}"}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"413":{"description":"Request Entity Too Large","x-details":"There are too many resources to process (max 100) or the line of JSON is too long (max 1 000 000 characters)","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":413,"message":"Too many resources to process, 100 is the maximum allowed."}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/vnd.akeneo.collection+json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/vnd.akeneo.collection+json’ is allowed."}}}}},"/api/rest/v1/products/{code}":{"get":{"summary":"Get a product","operationId":"get_products__code_","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to get the information about a given product. In the Entreprise Edition, since the v2.0, permissions based on your user groups are applied to the product you request.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"with_attribute_options","in":"query","description":"Return labels of attribute options in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_quality_scores","in":"query","description":"Return product quality scores in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_completenesses","in":"query","description":"Return product completenesses in the response. (Only available since the 6.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"6.0"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the product in JSON standard format","schema":{"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create a product","operationId":"patch_products__code_","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to update a given product. Learn more about <a href=\"/documentation/update.html#update-behavior\">Update behavior</a>. Note that if no product exists for the given identifier, it creates it. In the Entreprise Edition, since the v2.0, permissions based on your user groups are applied to the product you try to update. It may result in the creation of a draft if you only have edit rights through the product's categories.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"204":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}},"delete":{"summary":"Delete a product","operationId":"delete_products__code_","tags":["Product [identifier]"],"x-versions":["1.7","2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"description":"This endpoint allows you to delete a given product. In the Enterprise Edition, since the 2.0, permissions based on your user groups are applied to the product you try to delete.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"204":{"description":"No content to return","x-details":"Means that the deletion was successful"},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}}}}},"/api/rest/v1/products/{code}/proposal":{"post":{"summary":"Submit a draft for approval","operationId":"post_proposal","tags":["Product [identifier]"],"x-versions":["2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"x-ee":true,"description":"This endpoint allows you to submit a draft for approval.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"201":{"description":"Submitted","x-details":"Means that the draft submission was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}}},"/api/rest/v1/products/{code}/draft":{"get":{"summary":"Get a draft","operationId":"get_draft__code_","tags":["Product [identifier]"],"x-versions":["2.x","3.x","4.0","5.0","6.0","7.0","SaaS"],"x-ee":true,"description":"This endpoint allows you to get the information about a given draft.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the draft in JSON standard format","schema":{"type":"object","required":["identifier"],"properties":{"uuid":{"type":"string","description":"Product UUID","x-from-version":"7.0"},"identifier":{"type":"string","description":"Product identifier, i.e. the value of the only `pim_catalog_identifier` attribute"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the identifier of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product identifiers with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the identifier of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product identifiers and quantities with which the product is in relation","items":{"type":"object","properties":{"identifier":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in the Enterprise Edition)","x-immutable":true,"x-read-only":true,"x-from-version":"2.0","properties":{"workflow_status":{"description":"Status of the product regarding the user permissions","type":"string","enum":["read_only","draft_in_progress","proposal_waiting_for_approval","working_copy"]}}},"quality_scores":{"type":"object","description":"Product quality scores for each channel/locale combination (only available since the 5.0 and when the \"with_quality_scores\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"5.0"},"completenesses":{"type":"array","description":"Product completenesses for each channel/locale combination (only available since the 7.0 version, and when the \"with_completenesses\" query parameter is set to \"true\")","x-immutable":true,"x-read-only":true,"x-from-version":"7.0","items":{"type":"object","properties":{"scope":{"type":"string"},"locale":{"type":"string"},"data":{"type":"integer"}}}}},"example":{"identifier":"top","enabled":true,"family":"tshirt","categories":["summer_collection"],"groups":[],"parent":null,"values":{"name":[{"data":"Top","locale":"en_US","scope":null},{"data":"Débardeur","locale":"fr_FR","scope":null}],"description":[{"data":"Summer top","locale":"en_US","scope":"ecommerce"},{"data":"Top","locale":"en_US","scope":"tablet"},{"data":"Débardeur pour l'été","locale":"fr_FR","scope":"ecommerce"},{"data":"Débardeur","locale":"fr_FR","scope":"tablet"}],"price":[{"locale":null,"scope":null,"data":[{"amount":"15.5","currency":"EUR"},{"amount":"15","currency":"USD"}]}],"color":[{"locale":null,"scope":null,"data":"black","linked_data":{"attribute":"color","code":"black","labels":{"en_US":"Black","fr_FR":"Noir"}}}],"size":[{"locale":null,"scope":null,"data":"m","linked_data":{"attribute":"size","code":"m","labels":{"en_US":"M","fr_FR":"M"}}}],"collection":[{"locale":null,"scope":null,"data":["winter_2016"],"linked_data":{"winter_2016":{"attribute":"collection","code":"winter_2016","labels":{"en_US":"Winter 2016","fr_FR":"Hiver 2016"}}}}]},"created":"2016-06-23T18:24:44+02:00","updated":"2016-06-25T17:56:12+02:00","associations":{"PACK":{"products":["sunglass"],"product_models":[],"groups":[]}},"quantified_associations":{"PRODUCT_SET":{"products":[{"identifier":"cap","quantity":2},{"identifier":"shoes","quantity":1}],"product_models":[{"identifier":"model-biker-jacket-leather","quantity":2}]}},"quality_scores":[{"scope":"ecommerce","locale":"en_US","data":"A"},{"scope":"ecommerce","locale":"fr_FR","data":"B"},{"scope":"tablet","locale":"en_US","data":"D"},{"scope":"tablet","locale":"fr_FR","data":"E"}],"completenesses":[{"scope":"ecommerce","locale":"en_US","data":10},{"scope":"ecommerce","locale":"fr_FR","data":20},{"scope":"tablet","locale":"en_US","data":30},{"scope":"tablet","locale":"fr_FR","data":40}]}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"403":{"description":"Access forbidden","x-details":"The user does not have the permission to execute this request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":403,"message":"Access forbidden. You are not allowed to list categories."}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}}},"/api/rest/v1/products-uuid":{"get":{"summary":"Get list of products","operationId":"get_products_uuid","tags":["Product [uuid]"],"x-versions":["7.0","SaaS"],"description":"This endpoint allows you to get a list of products. Products are paginated and they can be filtered. In the Enterprise Edition, permissions based on your user groups are applied to the set of products you request.","parameters":[{"name":"search","in":"query","description":"Filter products, for more details see the <a href=\"/documentation/filter.html\">Filters</a> section","required":false,"type":"string"},{"name":"scope","in":"query","type":"string","description":"Filter product values to return scopable attributes for the given channel as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-channel\">Filter product values via channel</a> section","required":false},{"name":"locales","in":"query","type":"string","description":"Filter product values to return localizable attributes for the given locales as well as the non localizable/non scopable attributes, for more details see the <a href=\"/documentation/filter.html#via-locale\">Filter product values via locale</a> section","required":false},{"name":"attributes","in":"query","type":"string","description":"Filter product values to only return those concerning the given attributes, for more details see the <a href=\"/documentation/filter.html#filter-product-values\">Filter on product values</a> section","required":false},{"name":"pagination_type","in":"query","description":"Pagination method type, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"page","x-validation-rules":"One of the following values","enum":["page","search_after"]},{"name":"page","in":"query","description":"Number of the page to retrieve when using the `page` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html#pagination\">Pagination</a> section","required":false,"type":"integer","default":1},{"name":"search_after","in":"query","description":"Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"cursor to the first page"},{"name":"limit","in":"query","description":"Number of results by page, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"integer","minimum":1,"maximum":100,"default":10},{"name":"with_count","in":"query","description":"Return the count of items in the response. Be carefull with that, on a big catalog, it can decrease performance in a significative way","default":false,"type":"boolean","required":false},{"name":"with_attribute_options","in":"query","description":"Return labels of attribute options in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_quality_scores","in":"query","description":"Return product quality scores in the response. (Only available since the 5.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"5.0"},{"name":"with_completenesses","in":"query","description":"Return product completenesses in the response. (Only available since the 6.0 version)","default":false,"type":"boolean","required":false,"x-from-version":"6.0"}],"responses":{"200":{"description":"Return products paginated","schema":{"title":"Products","type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the current page of resources"}}},"first":{"type":"object","properties":{"href":{"type":"string","description":"URI of the first page of resources"}}},"previous":{"type":"object","properties":{"href":{"type":"string","description":"URI of the previous page of resources"}}},"next":{"type":"object","properties":{"href":{"type":"string","description":"URI of the next page of resources"}}}}},"current_page":{"type":"integer","description":"Current page number"}}},{"properties":{"_embedded":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","properties":{"uuid":{"type":"string","description":"Product uuid"},"enabled":{"type":"boolean","description":"Whether the product is enabled","default":true},"family":{"type":"string","description":"<a href='api-reference.html#Family'>Family</a> code from which the product inherits its attributes and attributes requirements.","x-validation-rules":"It is equal to an existing family code. In the case of variant product, the given family should be the same as the product model family.","default":"null only in the case of a non variant product"},"categories":{"type":"array","description":"Codes of the <a href='api-reference.html#Category'>categories</a> in which the product is classified","x-validation-rules":"Each string of the array is equal to an existing category code","items":{"type":"string"},"default":[]},"groups":{"type":"array","description":"Codes of the groups to which the product belong","x-validation-rules":"Each string of the array is equal to an existing group code","items":{"type":"string"},"default":[]},"parent":{"type":"string","description":"Code of the parent <a href='api-reference.html#Productmodel'>product model</a> when the product is a variant (only available since the 2.0). This parent can be modified since the 2.3.","x-validation-rules":"It is equal to an existing product model code only if the product is variant otherwise it's equal to null","default":"null","x-from-version":"2.0"},"values":{"type":"object","description":"Product attributes values, see <a href='/concepts/products.html#focus-on-the-product-values'>Product values</a> section for more details","x-validation-rules":"Validation rules detailed in Product values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"scope":{"type":"string","description":"<a href='api-reference.html#Channel'>Channel</a> code of the product value"},"locale":{"type":"string","description":"<a href='api-reference.html#Locale'>Locale</a> code of the product value"},"data":{"type":"object","description":"Product value. See <a href='/concepts/products.html#the-data-format'>the `data` format</a> section for more details."},"linked_data":{"type":"object","x-read-only":true,"description":"Object containing labels of attribute options (only available since the 5.0 and when query parameter \"with_attribute_options\" is set to \"true\"). See <a href='/concepts/products.html#the-linked_data-format'>the `linked_data` format</a> section for more details.","x-from-version":"5.0","properties":{"attribute":{"type":"string"},"code":{"type":"string"},"labels":{"type":"object"}}}}}}}},"associations":{"type":"object","description":"Several associations related to groups, product models and/or other products, grouped by association types","x-validation-rules":"&bull; The `associationTypeCode` is the code of an existing association type. &#10;&bull; Each string in the array of the property `groups` is the code of an existing group. &#10;&bull; Each string in the array of the property `products` is the uuid of an existing product. &#10;&bull; Each string in the array of the property `product_models` is the code of an existing product model.","properties":{"associationTypeCode":{"type":"object","properties":{"groups":{"type":"array","description":"Array of groups codes with which the product is in relation","items":{"type":"string"}},"products":{"type":"array","description":"Array of product uuids with which the product is in relation","items":{"type":"string"}},"product_models":{"type":"array","description":"Array of product model codes with which the product is in relation (only available since the v2.1)","x-from-version":"2.1","items":{"type":"string"}}}}}},"quantified_associations":{"type":"object","description":"Several quantified associations related to products and/or product models, grouped by quantified association types (only available since the 5.0)","x-validation-rules":"&bull; The `quantifiedAssociationTypeCode` is the code of an existing association type which provides quantity information. &#10;&bull; Each object in the array of the property `products` contains the uuid of an existing product and the quantity of it.","x-from-version":"5.0","properties":{"quantifiedAssociationTypeCode":{"type":"object","properties":{"products":{"type":"array","description":"Array of objects containing product uuids and quantities with which the product is in relation","items":{"type":"object","properties":{"uuid":{"type":"string"},"quantity":{"type":"integer"}}}},"product_models":{"type":"array","description":"Array of objects containing product model codes and quantities with which the product is in relation","items":{"type":"object","properties":{"code":{"type":"string"},"quantity":{"type":"integer"}}}}}}}},"created":{"type":"string","description":"Date of creation","format":"dateTime","x-immutable":true,"x-read-only":true},"updated":{"type":"string","description":"Date of the last update","format":"dateTime","x-read-only":true},"metadata":{"type":"object","description":"More information around the product (only available since the v2.0 in th
[...]
