{"swagger":"2.0","info":{"title":"Akeneo PIM API","version":"1.0.0"},"host":"demo.akeneo.com","schemes":["http"],"produces":["application/json"],"paths":{"/api/rest/v1/asset-families":{"get":{"summary":"Get list of asset families","operationId":"get_asset_families","description":"This endpoint allows you to get a list of asset families. Asset families are paginated.","tags":["Asset family"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"search_after","in":"query","description":"Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"cursor to the first page"}],"responses":{"200":{"description":"Return asset families paginated","schema":{"title":"Asset families","type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the current page of resources"}}},"first":{"type":"object","properties":{"href":{"type":"string","description":"URI of the first page of resources"}}},"next":{"type":"object","properties":{"href":{"type":"string","description":"URI of the next page of resources"}}}}}}},{"properties":{"_embedded":{"type":"object","properties":{"_items":{"type":"array","items":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Asset family code","x-immutable":true},"labels":{"type":"object","description":"Asset family labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Asset family label for the locale `localeCode`"}}},"product_link_rules":{"type":"array","description":"The rules that will be run after the asset creation, in order to automatically link the assets of this family to a set of products. To understand the format of this property, see <a href='/documentation/asset-manager.html#focus-on-the-product-link-rule'>here</a>.","x-validation-rules":"To know more about the validation of this property, take a look at our product link rule format.","default":{},"items":{"type":"object","properties":{"product_selections":{"type":"array","description":"The product selection to which the assets of the asset family to be automatically linked. More details <a href='/documentation/asset-manager.html#product-selection'>here</a>.","items":{"type":"object","required":["field","operator","value"],"properties":{"field":{"type":"string"},"operator":{"type":"string"},"value":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"}}}},"assign_assets_to":{"type":"array","description":"The product value in which your assets will be assigned. More details <a href='/documentation/asset-manager.html#product-value-assignment'>here</a>.","items":{"type":"object","required":["attribute","mode"],"properties":{"attribute":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"},"mode":{"type":"string"}}}}}}}},"example":{"code":"user_instructions","labels":{"en_US":"User instructions","fr_FR":"Notice d'utilisation"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"user_instructions","locale":"{{locale}}","mode":"replace"}]}]}}]}}}}}}]},"examples":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families?search_after=2x055w%3D%3D"}},"_embedded":{"_items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/packshots"}},"code":"packshots","labels":{"en_US":"Packshots","fr_FR":"Plans produit"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"{{my_product_attribute}}","mode":"add"}]}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/videos"}},"code":"videos","labels":{"en_US":"Videos","fr_FR":"Vidéos"},"product_link_rules":[{"product_selections":[{"field":"categories","operator":"IN","value":["{{category}}"]}],"assign_assets_to":[{"attribute":"presentation_video","locale":"{{locale}}","mode":"replace"}]}]},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/user_guides"}},"code":"user_guides","labels":{"en_US":"User guides","fr_FR":"Guides utilisateur"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"user_instructions","locale":"{{locale}}","mode":"replace"}]}]}]}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}}},"/api/rest/v1/asset-families/{code}":{"get":{"summary":"Get an asset family","operationId":"get_asset_family__code_","tags":["Asset family"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to get the information about a given asset family.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the asset family in JSON format.","schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Asset family code","x-immutable":true},"labels":{"type":"object","description":"Asset family labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Asset family label for the locale `localeCode`"}}},"product_link_rules":{"type":"array","description":"The rules that will be run after the asset creation, in order to automatically link the assets of this family to a set of products. To understand the format of this property, see <a href='/documentation/asset-manager.html#focus-on-the-product-link-rule'>here</a>.","x-validation-rules":"To know more about the validation of this property, take a look at our product link rule format.","default":{},"items":{"type":"object","properties":{"product_selections":{"type":"array","description":"The product selection to which the assets of the asset family to be automatically linked. More details <a href='/documentation/asset-manager.html#product-selection'>here</a>.","items":{"type":"object","required":["field","operator","value"],"properties":{"field":{"type":"string"},"operator":{"type":"string"},"value":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"}}}},"assign_assets_to":{"type":"array","description":"The product value in which your assets will be assigned. More details <a href='/documentation/asset-manager.html#product-value-assignment'>here</a>.","items":{"type":"object","required":["attribute","mode"],"properties":{"attribute":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"},"mode":{"type":"string"}}}}}}}},"example":{"code":"user_instructions","labels":{"en_US":"User instructions","fr_FR":"Notice d'utilisation"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"user_instructions","locale":"{{locale}}","mode":"replace"}]}]}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create an asset family","operationId":"patch_asset_family__code_","tags":["Asset family"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to update a given asset family. Note that if the asset family does not already exist, it creates it.","parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Asset family code","x-immutable":true},"labels":{"type":"object","description":"Asset family labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Asset family label for the locale `localeCode`"}}},"product_link_rules":{"type":"array","description":"The rules that will be run after the asset creation, in order to automatically link the assets of this family to a set of products. To understand the format of this property, see <a href='/documentation/asset-manager.html#focus-on-the-product-link-rule'>here</a>.","x-validation-rules":"To know more about the validation of this property, take a look at our product link rule format.","default":{},"items":{"type":"object","properties":{"product_selections":{"type":"array","description":"The product selection to which the assets of the asset family to be automatically linked. More details <a href='/documentation/asset-manager.html#product-selection'>here</a>.","items":{"type":"object","required":["field","operator","value"],"properties":{"field":{"type":"string"},"operator":{"type":"string"},"value":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"}}}},"assign_assets_to":{"type":"array","description":"The product value in which your assets will be assigned. More details <a href='/documentation/asset-manager.html#product-value-assignment'>here</a>.","items":{"type":"object","required":["attribute","mode"],"properties":{"attribute":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"},"mode":{"type":"string"}}}}}}}},"example":{"code":"user_instructions","labels":{"en_US":"User instructions","fr_FR":"Notice d'utilisation"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"user_instructions","locale":"{{locale}}","mode":"replace"}]}]}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"204":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}}},"/api/rest/v1/asset-families/{asset_family_code}/attributes":{"get":{"summary":"Get the list of attributes of a given asset family","operationId":"get_asset_families__code__attributes","description":"This endpoint allows you to get the list of attributes of a given asset family.","tags":["Asset attribute"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"}],"responses":{"200":{"description":"Return the attributes of the given asset family","x-no-entity":true,"schema":{"type":"array","items":{"type":"object","required":["code","type","media_type"],"properties":{"code":{"type":"string","description":"Attribute code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}},"type":{"type":"string","description":"Attribute type","enum":["text","media_link","number","media_file","single_option","multiple_options","reference_entity_single_link","reference_entity_multiple_links"],"x-immutable":true},"value_per_locale":{"type":"boolean","description":"Whether the attribute is localizable, i.e. can have one value by locale","default":false,"x-immutable":true},"value_per_channel":{"type":"boolean","description":"Whether the attribute is scopable, i.e. can have one value by channel","default":false,"x-immutable":true},"is_required_for_completeness":{"type":"boolean","description":"Whether the attribute should be part of the record's completeness calculation","default":false},"max_characters":{"type":"integer","description":"Maximum number of characters allowed for the value of the attribute when the attribute type is `text`","x-warning":"Only for `text` attribute type"},"is_textarea":{"type":"boolean","description":"Whether the UI should display a text area instead of a simple field when the attribute type is `text`","default":false,"x-warning":"Only for `text` attribute type"},"is_rich_text_editor":{"type":"boolean","description":"Whether the UI should display a rich text editor instead of a simple text area when the attribute type is `text`","x-validation-rules":"Required when the property `is_textarea` is equal to `true`","x-warning":"Only for `text` attribute type"},"validation_rule":{"type":"string","description":"Validation rule type used to validate the attribute value when the attribute type is `text`","default":"none","x-warning":"Only for `text` attribute type","enum":["email","url","regexp","none"]},"validation_regexp":{"type":"string","description":"Regexp expression used to validate the attribute value when the attribute type is `text`","default":null,"x-validation-rules":"Required when the property `validation_rule` is equal to `regexp`","x-warning":"Only for `text` attribute type"},"allowed_extensions":{"type":"array","description":"Extensions allowed when the attribute type is `media_file`","default":[],"x-warning":"Only for `media_file` attribute type","items":{"type":"string"}},"max_file_size":{"type":"string","description":"Max file size in MB when the attribute type is `media_file`","default":null,"x-warning":"Only for `media_file` attribute type"},"decimals_allowed":{"type":"boolean","description":"Whether decimals are allowed when the attribute type is `number`","default":false,"x-warning":"Only for `number` attribute type"},"min_value":{"type":"string","description":"Minimum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The minimum value must be lower than the maximum value","x-warning":"Only for `number` attribute type"},"max_value":{"type":"string","description":"Maximum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The maximum value must be greater than the minimum value","x-warning":"Only for `number` attribute type"},"media_type":{"type":"string","description":"For the `media_link` attribute type, it is the type of the media behind the url, to allow its preview in the PIM. For the `media_file` attribute type, it is the type of the file.","enum":["image","other"],"x-warning":"Only required for `media_link` and `media_file` attribute types"},"prefix":{"type":"string","description":"Prefix of the `media_link` attribute type. The common url root that prefixes the link to the media","default":null,"x-warning":"Only for `media_link` attribute type"},"suffix":{"type":"string","description":"Suffix of the `media_link` attribute type. The common url suffix for the media","default":null,"x-warning":"Only for `media_link` attribute type"}},"example":{"code":"model_is_wearing_size","labels":{"en_US":"Model is wearing size","fr_FR":"Le mannequin porte la taille"},"type":"single_option","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true}}},"x-examples":[{"code":"model_is_wearing_size","labels":{"en_US":"Model is wearing size","fr_FR":"Le mannequin porte la taille"},"type":"single_option","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true},{"code":"media_link","labels":{"en_US":"Media link","fr_FR":"Lien vers le média"},"type":"media_link","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true,"prefix":"https://my-dam.com/","suffix":"?height=630&width=485","media_type":"image"},{"code":"warning_mention","labels":{"en_US":"Warning mention","fr_FR":"Phrase d'avertissement"},"type":"text","value_per_locale":true,"value_per_channel":false,"is_required_for_completeness":false,"max_characters":"50","is_textarea":false,"is_rich_text_editor":false,"validation_rule":"none","validation_regexp":null}]},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}}},"/api/rest/v1/asset-families/{asset_family_code}/attributes/{code}":{"get":{"summary":"Get an attribute of a given asset family","operationId":"get_asset_family_attributes__code_","tags":["Asset attribute"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to get the information about a given attribute for a given asset family.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the asset attribute in JSON format","schema":{"type":"object","required":["code","type","media_type"],"properties":{"code":{"type":"string","description":"Attribute code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}},"type":{"type":"string","description":"Attribute type","enum":["text","media_link","number","media_file","single_option","multiple_options","reference_entity_single_link","reference_entity_multiple_links"],"x-immutable":true},"value_per_locale":{"type":"boolean","description":"Whether the attribute is localizable, i.e. can have one value by locale","default":false,"x-immutable":true},"value_per_channel":{"type":"boolean","description":"Whether the attribute is scopable, i.e. can have one value by channel","default":false,"x-immutable":true},"is_required_for_completeness":{"type":"boolean","description":"Whether the attribute should be part of the record's completeness calculation","default":false},"max_characters":{"type":"integer","description":"Maximum number of characters allowed for the value of the attribute when the attribute type is `text`","x-warning":"Only for `text` attribute type"},"is_textarea":{"type":"boolean","description":"Whether the UI should display a text area instead of a simple field when the attribute type is `text`","default":false,"x-warning":"Only for `text` attribute type"},"is_rich_text_editor":{"type":"boolean","description":"Whether the UI should display a rich text editor instead of a simple text area when the attribute type is `text`","x-validation-rules":"Required when the property `is_textarea` is equal to `true`","x-warning":"Only for `text` attribute type"},"validation_rule":{"type":"string","description":"Validation rule type used to validate the attribute value when the attribute type is `text`","default":"none","x-warning":"Only for `text` attribute type","enum":["email","url","regexp","none"]},"validation_regexp":{"type":"string","description":"Regexp expression used to validate the attribute value when the attribute type is `text`","default":null,"x-validation-rules":"Required when the property `validation_rule` is equal to `regexp`","x-warning":"Only for `text` attribute type"},"allowed_extensions":{"type":"array","description":"Extensions allowed when the attribute type is `media_file`","default":[],"x-warning":"Only for `media_file` attribute type","items":{"type":"string"}},"max_file_size":{"type":"string","description":"Max file size in MB when the attribute type is `media_file`","default":null,"x-warning":"Only for `media_file` attribute type"},"decimals_allowed":{"type":"boolean","description":"Whether decimals are allowed when the attribute type is `number`","default":false,"x-warning":"Only for `number` attribute type"},"min_value":{"type":"string","description":"Minimum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The minimum value must be lower than the maximum value","x-warning":"Only for `number` attribute type"},"max_value":{"type":"string","description":"Maximum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The maximum value must be greater than the minimum value","x-warning":"Only for `number` attribute type"},"media_type":{"type":"string","description":"For the `media_link` attribute type, it is the type of the media behind the url, to allow its preview in the PIM. For the `media_file` attribute type, it is the type of the file.","enum":["image","other"],"x-warning":"Only required for `media_link` and `media_file` attribute types"},"prefix":{"type":"string","description":"Prefix of the `media_link` attribute type. The common url root that prefixes the link to the media","default":null,"x-warning":"Only for `media_link` attribute type"},"suffix":{"type":"string","description":"Suffix of the `media_link` attribute type. The common url suffix for the media","default":null,"x-warning":"Only for `media_link` attribute type"}},"example":{"code":"model_is_wearing_size","labels":{"en_US":"Model is wearing size","fr_FR":"Le mannequin porte la taille"},"type":"single_option","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create an attribute of a given asset family","operationId":"patch_asset_family_attributes__code_","tags":["Asset attribute"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to update a given attribute for a given asset family. Note that if the attribute does not already exist for the given asset family, it creates it.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["code","type","media_type"],"properties":{"code":{"type":"string","description":"Attribute code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}},"type":{"type":"string","description":"Attribute type","enum":["text","media_link","number","media_file","single_option","multiple_options","reference_entity_single_link","reference_entity_multiple_links"],"x-immutable":true},"value_per_locale":{"type":"boolean","description":"Whether the attribute is localizable, i.e. can have one value by locale","default":false,"x-immutable":true},"value_per_channel":{"type":"boolean","description":"Whether the attribute is scopable, i.e. can have one value by channel","default":false,"x-immutable":true},"is_required_for_completeness":{"type":"boolean","description":"Whether the attribute should be part of the record's completeness calculation","default":false},"max_characters":{"type":"integer","description":"Maximum number of characters allowed for the value of the attribute when the attribute type is `text`","x-warning":"Only for `text` attribute type"},"is_textarea":{"type":"boolean","description":"Whether the UI should display a text area instead of a simple field when the attribute type is `text`","default":false,"x-warning":"Only for `text` attribute type"},"is_rich_text_editor":{"type":"boolean","description":"Whether the UI should display a rich text editor instead of a simple text area when the attribute type is `text`","x-validation-rules":"Required when the property `is_textarea` is equal to `true`","x-warning":"Only for `text` attribute type"},"validation_rule":{"type":"string","description":"Validation rule type used to validate the attribute value when the attribute type is `text`","default":"none","x-warning":"Only for `text` attribute type","enum":["email","url","regexp","none"]},"validation_regexp":{"type":"string","description":"Regexp expression used to validate the attribute value when the attribute type is `text`","default":null,"x-validation-rules":"Required when the property `validation_rule` is equal to `regexp`","x-warning":"Only for `text` attribute type"},"allowed_extensions":{"type":"array","description":"Extensions allowed when the attribute type is `media_file`","default":[],"x-warning":"Only for `media_file` attribute type","items":{"type":"string"}},"max_file_size":{"type":"string","description":"Max file size in MB when the attribute type is `media_file`","default":null,"x-warning":"Only for `media_file` attribute type"},"decimals_allowed":{"type":"boolean","description":"Whether decimals are allowed when the attribute type is `number`","default":false,"x-warning":"Only for `number` attribute type"},"min_value":{"type":"string","description":"Minimum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The minimum value must be lower than the maximum value","x-warning":"Only for `number` attribute type"},"max_value":{"type":"string","description":"Maximum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The maximum value must be greater than the minimum value","x-warning":"Only for `number` attribute type"},"media_type":{"type":"string","description":"For the `media_link` attribute type, it is the type of the media behind the url, to allow its preview in the PIM. For the `media_file` attribute type, it is the type of the file.","enum":["image","other"],"x-warning":"Only required for `media_link` and `media_file` attribute types"},"prefix":{"type":"string","description":"Prefix of the `media_link` attribute type. The common url root that prefixes the link to the media","default":null,"x-warning":"Only for `media_link` attribute type"},"suffix":{"type":"string","description":"Suffix of the `media_link` attribute type. The common url suffix for the media","default":null,"x-warning":"Only for `media_link` attribute type"}},"example":{"code":"model_is_wearing_size","labels":{"en_US":"Model is wearing size","fr_FR":"Le mannequin porte la taille"},"type":"single_option","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"204":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}}},"/api/rest/v1/asset-families/{asset_family_code}/attributes/{attribute_code}/options":{"get":{"summary":"Get a list of attribute options of a given attribute for a given asset family","operationId":"get_asset_family_attributes__attribute_code__options","description":"This endpoint allows you to get a list of attribute options for a given asset family.","tags":["Asset attribute option"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"attribute_code","in":"path","description":"Code of the attribute","required":true,"type":"string"}],"responses":{"200":{"description":"Return the options of the given attribute of the given asset family","x-no-entity":true,"schema":{"type":"array","items":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Attribute's option code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}}},"example":{"code":"small","labels":{"en_US":"S","fr_FR":"S"}}}},"x-examples":[{"code":"unique_size","labels":{"en_US":"Unique size","fr_FR":"Taille unique"}},{"code":"size_27","labels":{"en_US":"Size 27","fr_FR":"Taille 36"}},{"code":"small","labels":{"en_US":"S","fr_FR":"S"}}]},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}}},"/api/rest/v1/asset-families/{asset_family_code}/attributes/{attribute_code}/options/{code}":{"get":{"summary":"Get an attribute option for a given attribute of a given asset family","operationId":"get_reference_entity_attributes__attribute_code__options__code_","description":"This endpoint allows you to get the information about a given asset attribute option.","tags":["Asset attribute option"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"attribute_code","in":"path","description":"Code of the attribute","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the asset attribute option in JSON format","schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Attribute's option code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}}},"example":{"code":"small","labels":{"en_US":"S","fr_FR":"S"}}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create an asset attribute option for a given asset family","operationId":"patch_asset_attributes__attribute_code__options__code_","tags":["Asset attribute option"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to update a given option for a given attribute and a given asset family. Learn more about the <a href=\"/documentation/update.html#update-behavior\">Update behavior</a>. Note that if the option does not already exist for the given attribute of the given asset family, it creates it.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"attribute_code","in":"path","description":"Code of the attribute","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Attribute's option code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}}},"example":{"code":"small","labels":{"en_US":"S","fr_FR":"S"}}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"204":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}}},"/api/rest/v1/asset-media-files":{"post":{"summary":"Create a new media file for an asset","operationId":"post_asset_media_files","description":"This endpoint allows you to create a new media file and associate it to a media file attribute value of an asset.","tags":["Asset media file"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"Content-type","in":"header","type":"string","description":"Equal to 'multipart/form-data', no other value allowed","required":true},{"name":"body","in":"body","x-form-data":true,"schema":{"required":["file"],"properties":{"file":{"type":"string","description":"The binary of the media file","format":"binary"}}}}],"responses":{"201":{"description":"Created","x-details":"Means that the media file creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"},"Asset-media-file-code":{"description":"Code of the media file","type":"string"}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `multipart/form-data`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘multipart/form-data’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}}},"/api/rest/v1/asset-media-files/{code}":{"get":{"summary":"Download the media file associated to an asset","operationId":"get_asset_media_files__code","description":"This endpoint allows you to download a given media file that is associated with an asset.","x-content-type":"Mime-type of the media file","tags":["Asset media file"],"x-versions":["3.2"],"x-ee":true,"parameters":[{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the binary of the media file","x-content-type":"Mime-type of the media file"},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}}}}},"/api/rest/v1/asset-families/{asset_family_code}/assets":{"get":{"summary":"Get the list of the assets of a given asset family","operationId":"get_assets","tags":["Asset"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to get a list of assets of a given asset family. Assets are paginated.","parameters":[{"name":"search","in":"query","description":"Filter assets, for more details see the <a href=\"/documentation/asset-manager.html#asset-filters\">Asset filters</a> section","required":false,"type":"string"},{"name":"channel","in":"query","type":"string","description":"Filter asset values to return scopable asset attributes for the given channel as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/asset-manager.html#filter-asset-values-by-channel\">Filter asset values by channel</a> section","required":false},{"name":"locales","in":"query","type":"string","description":"Filter asset values to return localizable attributes for the given locales as well as the non localizable/non scopable asset attributes, for more details see the <a href=\"/documentation/asset-manager.html#filter-asset-values-by-locale\">Filter asset values by locale</a> section","required":false},{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"search_after","in":"query","description":"Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"cursor to the first page"}],"responses":{"200":{"description":"Return the assets of the given asset family paginated","schema":{"title":"Asset","type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the current page of resources"}}},"first":{"type":"object","properties":{"href":{"type":"string","description":"URI of the first page of resources"}}},"next":{"type":"object","properties":{"href":{"type":"string","description":"URI of the next page of resources"}}}}}}},{"properties":{"_embedded":{"type":"object","properties":{"_items":{"type":"array","items":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code of the asset","x-immutable":true},"values":{"type":"object","description":"Asset attributes values, see the <a href='/documentation/asset-manager.html#focus-on-the-asset-values'>Focus on the asset values</a> section for more details.","x-validation-rules":"Validation rules detailed in Asset attribute values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"Channel code of the asset attribute value"},"locale":{"type":"string","description":"Locale code of the asset attribute value"},"data":{"type":"object","description":"Asset attribute value"}}}}}}},"example":{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}}]}}}}}}]},"examples":{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets"},"first":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets"},"next":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets?search_after=2x088w%3D%3D"}},"_embedded":{"_items":[{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets/allie_jean_model_picture"}},"code":"allie_jean_model_picture","values":{"media_link":[{"locale":null,"channel":null,"data":"allie_jean_model_picture.png"}],"model_is_wearing_size":[{"locale":null,"channel":null,"data":"size_27"}],"warning_mention":[{"data":"Photo not retouched","locale":"en_US","channel":null},{"data":"Photo non retouchée","locale":"fr_FR","channel":null}]}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets/amy_socks_model_picture"}},"code":"amy_socks_model_picture","values":{"media_link":[{"locale":null,"channel":null,"data":"amy_socks_model_picture.png"}],"model_is_wearing_size":[{"locale":null,"channel":null,"data":"unique_size"}],"warning_mention":[{"data":"Photo not retouched","locale":"en_US","channel":null},{"data":"Photo non retouchée","locale":"fr_FR","channel":null}]}},{"_links":{"self":{"href":"https://demo.akeneo.com/api/rest/v1/asset-families/model_pictures/assets/alice_blouse_model_picture"}},"code":"alice_blouse_model_picture","values":{"media_link":[{"locale":null,"channel":null,"data":"alice_blouse_model_picture.png"}],"model_is_wearing_size":[{"locale":null,"channel":null,"data":"small"}],"warning_mention":[{"data":"Photo retouched","locale":"en_US","channel":null},{"data":"Photo non retouchée","locale":"fr_FR","channel":null}]}}]}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create several assets","operationId":"patch_assets","tags":["Asset"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to update and/or create several assets of one given asset family at once. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"array","items":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code of the asset","x-immutable":true},"values":{"type":"object","description":"Asset attributes values, see the <a href='/documentation/asset-manager.html#focus-on-the-asset-values'>Focus on the asset values</a> section for more details.","x-validation-rules":"Validation rules detailed in Asset attribute values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"Channel code of the asset attribute value"},"locale":{"type":"string","description":"Locale code of the asset attribute value"},"data":{"type":"object","description":"Asset attribute value"}}}}}}},"example":{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}},"example":[{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}},{"code":"sku_54628_picture2","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture2.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["blue","white"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}},{"code":"sku_54628_picture3","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture3.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}]}}],"responses":{"200":{"description":"OK","x-details":"Returns an JSON array in which each object gives you the status of each asset creation or update","x-no-entity":true,"schema":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Resource code"},"status_code":{"type":"integer","description":"HTTP status code, see <a href=\"/documentation/responses.html#client-errors\">Client errors</a> to understand the meaning of each code"},"message":{"type":"string","description":"Message explaining the error"}}}},"x-examples":[{"code":"sku_54628_picture1","status_code":204},{"code":"sku_54628_picture2","status_code":422,"message":"Property 'group' does not exist."},{"code":"sku_54628_picture3","status_code":201}]},"400":{"description":"Bad request","x-details":"Can be caused by a malformed JSON request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":400,"message":"Invalid JSON message received"}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"413":{"description":"Request Entity Too Large","x-details":"There are too many resources to process (max 100) or the line of JSON is too long (max 1 000 000 characters)","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":413,"message":"Too many resources to process, 100 is the maximum allowed."}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/vnd.akeneo.collection+json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/vnd.akeneo.collection+json’ is allowed."}}}}},"/api/rest/v1/asset-families/{asset_family_code}/assets/{code}":{"get":{"summary":"Get an asset of a given asset family","operationId":"get_assets__code_","tags":["Asset"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to get the information about a given asset for a given asset family.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK","x-details":"Returns the content of the asset in JSON standard format","schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code of the asset","x-immutable":true},"values":{"type":"object","description":"Asset attributes values, see the <a href='/documentation/asset-manager.html#focus-on-the-asset-values'>Focus on the asset values</a> section for more details.","x-validation-rules":"Validation rules detailed in Asset attribute values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"Channel code of the asset attribute value"},"locale":{"type":"string","description":"Locale code of the asset attribute value"},"data":{"type":"object","description":"Asset attribute value"}}}}}}},"example":{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}}}},"patch":{"summary":"Update/create an asset","operationId":"patch_asset__code_","tags":["Asset"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to update a given asset of a given asset family. Learn more about the <a href=\"/documentation/update.html#patch-asset-attribute-values\">Update behavior</a>. Note that if the asset does not already exist for the given asset family, it creates it.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code of the asset","x-immutable":true},"values":{"type":"object","description":"Asset attributes values, see the <a href='/documentation/asset-manager.html#focus-on-the-asset-values'>Focus on the asset values</a> section for more details.","x-validation-rules":"Validation rules detailed in Asset attribute values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"Channel code of the asset attribute value"},"locale":{"type":"string","description":"Locale code of the asset attribute value"},"data":{"type":"object","description":"Asset attribute value"}}}}}}},"example":{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}}}],"responses":{"201":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"204":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"400":{"description":"Bad request","x-details":"Can be caused by a malformed JSON request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":400,"message":"Invalid JSON message received"}},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"415":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"422":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}}},"delete":{"summary":"Delete an asset","operationId":"delete_assets__code_","tags":["Asset"],"x-versions":["3.2"],"x-ee":true,"description":"This endpoint allows you to delete a given asset.","parameters":[{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"},{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"}],"responses":{"204":{"description":"No content to return","x-details":"Means that the deletion was successful"},"401":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}}}}}},"definitions":{"AssetFamilyList":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Asset family code","x-immutable":true},"labels":{"type":"object","description":"Asset family labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Asset family label for the locale `localeCode`"}}},"product_link_rules":{"type":"array","description":"The rules that will be run after the asset creation, in order to automatically link the assets of this family to a set of products. To understand the format of this property, see <a href='/documentation/asset-manager.html#focus-on-the-product-link-rule'>here</a>.","x-validation-rules":"To know more about the validation of this property, take a look at our product link rule format.","default":{},"items":{"type":"object","properties":{"product_selections":{"type":"array","description":"The product selection to which the assets of the asset family to be automatically linked. More details <a href='/documentation/asset-manager.html#product-selection'>here</a>.","items":{"type":"object","required":["field","operator","value"],"properties":{"field":{"type":"string"},"operator":{"type":"string"},"value":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"}}}},"assign_assets_to":{"type":"array","description":"The product value in which your assets will be assigned. More details <a href='/documentation/asset-manager.html#product-value-assignment'>here</a>.","items":{"type":"object","required":["attribute","mode"],"properties":{"attribute":{"type":"string"},"locale":{"type":"string"},"channel":{"type":"string"},"mode":{"type":"string"}}}}}}}},"example":{"code":"user_instructions","labels":{"en_US":"User instructions","fr_FR":"Notice d'utilisation"},"product_link_rules":[{"product_selections":[{"field":"sku","operator":"EQUALS","value":"{{product_ref}}"}],"assign_assets_to":[{"attribute":"user_instructions","locale":"{{locale}}","mode":"replace"}]}]}}]},"AssetFamilyItemList":{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},"AssetAttributeList":{"type":"array","items":{"type":"object","required":["code","type","media_type"],"properties":{"code":{"type":"string","description":"Attribute code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}},"type":{"type":"string","description":"Attribute type","enum":["text","media_link","number","media_file","single_option","multiple_options","reference_entity_single_link","reference_entity_multiple_links"],"x-immutable":true},"value_per_locale":{"type":"boolean","description":"Whether the attribute is localizable, i.e. can have one value by locale","default":false,"x-immutable":true},"value_per_channel":{"type":"boolean","description":"Whether the attribute is scopable, i.e. can have one value by channel","default":false,"x-immutable":true},"is_required_for_completeness":{"type":"boolean","description":"Whether the attribute should be part of the record's completeness calculation","default":false},"max_characters":{"type":"integer","description":"Maximum number of characters allowed for the value of the attribute when the attribute type is `text`","x-warning":"Only for `text` attribute type"},"is_textarea":{"type":"boolean","description":"Whether the UI should display a text area instead of a simple field when the attribute type is `text`","default":false,"x-warning":"Only for `text` attribute type"},"is_rich_text_editor":{"type":"boolean","description":"Whether the UI should display a rich text editor instead of a simple text area when the attribute type is `text`","x-validation-rules":"Required when the property `is_textarea` is equal to `true`","x-warning":"Only for `text` attribute type"},"validation_rule":{"type":"string","description":"Validation rule type used to validate the attribute value when the attribute type is `text`","default":"none","x-warning":"Only for `text` attribute type","enum":["email","url","regexp","none"]},"validation_regexp":{"type":"string","description":"Regexp expression used to validate the attribute value when the attribute type is `text`","default":null,"x-validation-rules":"Required when the property `validation_rule` is equal to `regexp`","x-warning":"Only for `text` attribute type"},"allowed_extensions":{"type":"array","description":"Extensions allowed when the attribute type is `media_file`","default":[],"x-warning":"Only for `media_file` attribute type","items":{"type":"string"}},"max_file_size":{"type":"string","description":"Max file size in MB when the attribute type is `media_file`","default":null,"x-warning":"Only for `media_file` attribute type"},"decimals_allowed":{"type":"boolean","description":"Whether decimals are allowed when the attribute type is `number`","default":false,"x-warning":"Only for `number` attribute type"},"min_value":{"type":"string","description":"Minimum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The minimum value must be lower than the maximum value","x-warning":"Only for `number` attribute type"},"max_value":{"type":"string","description":"Maximum value allowed when the attribute type is `number`","default":null,"x-validation-rules":"The maximum value must be greater than the minimum value","x-warning":"Only for `number` attribute type"},"media_type":{"type":"string","description":"For the `media_link` attribute type, it is the type of the media behind the url, to allow its preview in the PIM. For the `media_file` attribute type, it is the type of the file.","enum":["image","other"],"x-warning":"Only required for `media_link` and `media_file` attribute types"},"prefix":{"type":"string","description":"Prefix of the `media_link` attribute type. The common url root that prefixes the link to the media","default":null,"x-warning":"Only for `media_link` attribute type"},"suffix":{"type":"string","description":"Suffix of the `media_link` attribute type. The common url suffix for the media","default":null,"x-warning":"Only for `media_link` attribute type"}},"example":{"code":"model_is_wearing_size","labels":{"en_US":"Model is wearing size","fr_FR":"Le mannequin porte la taille"},"type":"single_option","value_per_locale":false,"value_per_channel":false,"is_required_for_completeness":true}}},"AssetAttributeOptionList":{"type":"array","items":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Attribute's option code","x-immutable":true},"labels":{"type":"object","description":"Attribute labels for each locale","x-validation-rules":"The `localeCode` is the code of an existing and activated locale","default":{},"properties":{"localeCode":{"type":"string","description":"Attribute label for the locale `localeCode`"}}}},"example":{"code":"small","labels":{"en_US":"S","fr_FR":"S"}}}},"AssetList":{"type":"object","allOf":[{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Code of the asset","x-immutable":true},"values":{"type":"object","description":"Asset attributes values, see the <a href='/documentation/asset-manager.html#focus-on-the-asset-values'>Focus on the asset values</a> section for more details.","x-validation-rules":"Validation rules detailed in Asset attribute values section","properties":{"attributeCode":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"Channel code of the asset attribute value"},"locale":{"type":"string","description":"Locale code of the asset attribute value"},"data":{"type":"object","description":"Asset attribute value"}}}}}}},"example":{"code":"sku_54628_picture1","values":{"media_preview":[{"locale":null,"channel":null,"data":"sku_54628_picture1.jpg"}],"model_wears_size":[{"locale":null,"channel":null,"data":"s"}],"photographer":[{"locale":null,"channel":null,"data":"ben_levy"}],"main_colors":[{"locale":null,"channel":null,"data":["red","purple"]}],"end_of_use_date":[{"locale":null,"channel":null,"data":"02/03/2021"}]}}}]},"AssetItemList":{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the resource"}}}}}}},"SearchAfterPagination":{"type":"object","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URI of the current page of resources"}}},"first":{"type":"object","properties":{"href":{"type":"string","description":"URI of the first page of resources"}}},"next":{"type":"object","properties":{"href":{"type":"string","description":"URI of the next page of resources"}}}}}}},"Error":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"ErrorByObject":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"Resource code"},"status_code":{"type":"integer","description":"HTTP status code, see <a href=\"/documentation/responses.html#client-errors\">Client errors</a> to understand the meaning of each code"},"message":{"type":"string","description":"Message explaining the error"}}}}},"responses":{"Created":{"description":"Created","x-details":"Means that the creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"}}},"AssetMediaFileUploaded":{"description":"Created","x-details":"Means that the media file creation was successful","headers":{"Location":{"description":"URI of the created resource","type":"string"},"Asset-media-file-code":{"description":"Code of the media file","type":"string"}}},"NoContent":{"description":"No content to return","x-details":"Means that the update was successful","headers":{"Location":{"description":"URI of the updated resource","type":"string"}}},"400Error":{"description":"Bad request","x-details":"Can be caused by a malformed JSON request","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":400,"message":"Invalid JSON message received"}},"401Error":{"description":"Authentication required","x-details":"Can be caused by a missing or expired token","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":401,"message":"Authentication is required"}},"404Error":{"description":"Resource not found","x-details":"The resource code given in the URI does not correspond to any existing PIM resource","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":404,"message":"Resource `my_resource_code` does not exist."}},"406Error":{"description":"Not Acceptable","x-details":"The `Accept` header is not `application/json` but it should","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":406,"message":"‘xxx’ in ‘Accept‘ header is not valid. Only ‘application/json‘ is allowed."}},"413Error":{"description":"Request Entity Too Large","x-details":"There are too many resources to process (max 100) or the line of JSON is too long (max 1 000 000 characters)","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":413,"message":"Too many resources to process, 100 is the maximum allowed."}},"415Error":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/json’ is allowed."}},"415ErrorStream":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `application/vnd.akeneo.collection+json`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘application/vnd.akeneo.collection+json’ is allowed."}},"415ErrorMultipart":{"description":"Unsupported Media type","x-details":"The `Content-type` header has to be `multipart/form-data`","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":415,"message":"‘xxx’ in ‘Content-type’ header is not valid.  Only ‘multipart/form-data’ is allowed."}},"422Error":{"description":"Unprocessable entity","x-details":"The validation of the entity given in the body of the request failed","schema":{"type":"object","properties":{"code":{"type":"integer","description":"HTTP status code"},"message":{"type":"string","description":"Message explaining the error"}}},"examples":{"code":422,"message":"Property \"labels\" expects an array as data, \"NULL\" given. Check the API reference documentation.","_links":{"documentation":{"href":"http://api.akeneo.com/api-reference.html"}}}}},"parameters":{"search_after":{"name":"search_after","in":"query","description":"Cursor when using the `search_after` pagination method type. <strong>Should never be set manually</strong>, see <a href=\"/documentation/pagination.html\">Pagination</a> section","required":false,"type":"string","default":"cursor to the first page"},"code":{"name":"code","in":"path","description":"Code of the resource","required":true,"type":"string"},"attribute_code":{"name":"attribute_code","in":"path","description":"Code of the attribute","required":true,"type":"string"},"asset_family_code":{"name":"asset_family_code","in":"path","description":"Code of the asset family","required":true,"type":"string"}}}