{{#*inline "properties"}}
{{#each properties}}
<li class="def-key">
    <code>{{@key}}</code>
    <em>({{{type}}})</em>

    {{#if this.description}}
    &bull; {{{description}}}
    {{/if}}

    {{#if this.properties}}
    : { <ul>{{> properties properties=this.properties }}</ul> }
    {{/if}}

    {{!-- {{#if this.items}}
    : [
    {{#each this.items}}
    { <ul>{{> properties properties=this }}</ul> }
    {{/each}}
    ]
    {{/if}} --}}

</li>
{{/each}}
{{/inline}}

<div class="row">
    <div class="col-xs-12">
        <div class="def">
            <p class="def-key">{</p>
            <ul>{{> properties }}</ul>
            <p class="def-key">}</p>
        </div>
    </div>
</div>
