.block-welcome {
    position: relative;
    background-color: #F1F4F9;
    padding: 30px 46px;
    margin-top: 27px;

    font-size: 16px;
    line-height: 24px;

    color: #677688;
    border-radius: 5px;
}

.block-welcome img {
    margin-top: -31px;
    margin-right: 27px;
    margin-bottom: -11px;
}

.block-welcome-row {
    display: flex;
    align-items: center;
    gap: 73px;
}

.block-welcome-title {
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #677688;
}

.block-welcome-text {
    font-family: 'Roobert';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;

    color: #677688;
}
