<div class="block-welcome">
    <div class="block-welcome-title">Welcome!</div>
    <div class="block-welcome-row">
        <div class="block-welcome-text">
            This pre-requisite section will follow you all along the tutorials
            marked with the use case <b>"App workflow"</b>.
        </div>
        <img src="../content/img/illustrations/illus--Attributegroup.svg" width="140px">
    </div>
    <div class="block-welcome-text">
        The workflow starts with this tutorial that will guide you through the creation of a draft App.
        At the end of this tutorial, your draft App will receive an <b>access token and will be able to call
        the REST API.</b>
    </div>
    <div class="block-welcome-text">
        Let's start!
    </div>
</div>
