.block-create-app {
    margin-top: 60px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #4CA8E0;
    border-radius: 10px;
}

.block-create-app-views {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 23px;
    top: -13%;
}

.block-create-app-title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /*width: 76.5%;*/

    color: #414D97;
}


.block-create-app-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-create-app-row .next-steps-button {
    margin-top: 40px;
}

.arrow-back img{
    margin-top: 45px;
    margin-left:33px;
    margin-right:33px;
    align-items: center;
    width: 12px;
    transform: rotate(180deg);
}

.block-create-app-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 44px 0 38px 0;
}

.block-link{
    color: #4CA8E0;
}

.block-create-app-github {
    width: 36px;
    margin-right: 17px;
}
