<div class="block-about-app">
    <div class="block-about-app-title">Need to learn more about Apps?</div>
    <div class="block-about-app-row">
        <div class="block-about-app-text">
            <div>Let's first take a look <span class="block-link">&nbsp;<a href="">how apps are discovered.</a></span></div>
            <div>Then, <span class="block-link">&nbsp;<a href="">get acquainted with our APIs.</a></span></div>
            <div>Finally, understand <span class="block-link">&nbsp;<a href="">what's an Akeneo app and how it fits into Akeneo PXM Studio.</a></span></div>
        </div>
        <div class="block-about-app-img">
            <img src="../content/img/illustrations/illus--Coding.svg" width="140px">
        </div>
    </div>
</div>
