<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="components.css">
</head>
<body>
<div>
    <!-- WIP component -->
    <a href="https://google.com" class="back-button">
        <button>
            <img src="../content/img/icons/icon--arrow-back.svg" style="margin-right: 10px;">
            All guided tutorials
        </button>
    </a>
</div>

<hr>

<table class="tag-container">
    <tr>
        <td>Use case:</td>
        <td>
            <button aria-pressed="false" class="tag-selectable">
                <div class="tag-color tag-color-light-blue"></div>
                <div class="tag-label">App Workflow</div>
            </button>
        </td>
    </tr>
    <tr>
        <td>PIM Features:</td>
        <td>
            <button aria-pressed="false" class="tag-selectable">
                <div class="tag-color tag-color-red"></div>
                <div class="tag-label">Channel</div>
            </button>
        </td>
    </tr>
</table>

<hr>

<div class="endpoint-container">
    <div class="endpoint-text">REST API endpoint(s):</div>
    <a href="urllink" class="endpoint-link">channel</a>
</div>

<hr>

<button aria-pressed="false" class="tag-selectable tag-selected">
    <div class="tag-color tag-color-light-blue"></div>
    <div class="tag-label">Label</div>
    <img aria-hidden="true" src="../content/img/icons/icon--unselect-tag.svg">
</button>

<hr>

<div class="block-requirements">
    <div class="block-requirements-headline">
        If you're starting building your App, make sure you previously followed:
    </div>
    <div class="block-requirements-row">
        <img src="../content/img/illustrations/illus--Attributegroup.svg" width="110px">
        <div class="block-requirements-steps">
            <ul>
                <li>Step 1. <a href="urllink">Get your App token tutorial</a></li>
                <li>Step 2. <a href="urllink">Retrieve PIM structure tutorial</a></li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="block-next-steps">
    <img src="../content/img/illustrations/illus--Attribute.svg" width="140px">
    <div class="block-next-steps-column">
        <div class="block-next-steps-title">Next Step</div>
        <div class="block-next-steps-text">Now that you collected your categories, we advise you to follow</div>
        <div>
            <ul>
                <li><a href="urllink">How to parse product values tutorial</a></li>
                <li><a href="urllink">How to saucisse</a></li>
            </ul>
        </div>
    </div>
</div>

<hr>

<iframe src="./tile.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>

</body>
</html>
