<div class="tile">
    <div class="tile-title">
        How to get your App token & other think
    </div>
    <div class="tile-tag">
        <button aria-pressed="false" class="tag-selectable">
            <div class="tag-color tag-color-red"></div>
            <div class="tag-label">Channel</div>
        </button>
        <button aria-pressed="false" class="tag-selectable">
            <div class="tag-color tag-color-blue"></div>
            <div class="tag-label">App Workflow</div>
        </button>
    </div>
</div>
