{{!-- Shared template for the documentation page and guide pages, as well as the PHP client doc --}}
{{#> layout title=title }}
    <div class="container">
        <div class="row guided-tutorials">
            {{{mainContent}}}

            <div class="tile-app">
                <div class="tile-app-title">
                    Start Apps <span class="tile-app-bagde">New</span>
                </div>
                <div class="tile-app-content">
                    Starter for bootstraping your first Akeneo
                    App quickly.
                </div>
                <div class="tile-app-image">
                    <img class="dev-tools-image" src="../../img/apps/dev-tools-langages.svg" alt=""/>
                </div>
                <div class="tile-app-row">
                    <img class="tile-app-row-image" src="../../img/icons/icon--github.png" alt=""/>
                    <div>Github repository:<br/><a href="">akeneo/sample-apps/basic-app</a></div>
                </div>
                <div class="tile-app-author">By Akeneo</div>
            </div>

            <h2>API tools</h2>

        </div>
    </div>
{{/layout}}
