<div class="row">
    <div class="col-xs-12">
        <p class="text-muted text-right">
            <i class="fa fa-pencil"></i> Found a typo or a hole in the documentation and feel like contributing?<br>
            <a href="https://github.com/akeneo/pim-api-docs">Join us on Github!</a>
        </p>
    </div>
</div>
