{{!-- Shared template for the documentation page and guide pages, as well as the PHP client doc --}}
{{#> layout }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{{title}}}</h1>
            </div>
        </div>
        <div class="row">
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <hr>
            </div>
        </div>
        {{> contrib-footer}}
    </div>
{{/layout}}
