{{!-- Shared template for the documentation page and guide pages, as well as the PHP client doc --}}
{{#> layout }}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-9">
                <h1>{{{title}}}</h1>
            </div>
            <div class="col-md-2 col-xs-3">
                <img class="img-responsive" style="margin-top: 20px;" src="../../img/{{image}}"/>
            </div>
        </div>
        <div class="row">
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <hr>
            </div>
        </div>
        {{> contrib-footer}}
    </div>
{{/layout}}
