{{!-- Shared template for the getting started pages --}}
{{#> layout title=title }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="events">Events API reference</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p><em>Complete reference on how to use Akeneo PIM events</em></p>
            </div>
            <div class="col-xs-12">
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="true" style="color: #3aaaa7;">
                        Your PIM version: <strong>{{{pimVersion}}}</strong>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-title">Choose your PIM version</li>
                        <li><a href="/events-reference/events-reference-serenity/products.html">Serenity</a></li>
                        <li><a href="/events-reference/events-reference-5.0/products.html">5.0</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row events">
            {{{mainContent}}} 
        </div>
        {{> back-to-top-button}}
    </div>
{{/layout}}
