<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-right">
                    <em>Found a typo or a hole in the documentation and feel like contributing?</em><br>
                    <a href="https://github.com/akeneo/pim-api-docs" onclick="ga('send', 'event', 'github', 'contribute')" target="_blank">Join us on Github!</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container social-icon">
        <a href="https://twitter.com/akeneopim" target="_blank">
            <img src="/img/icons/icon--twitter.svg" />
        </a>
        <a href="https://www.facebook.com/akeneopim/" target="_blank">
            <img src="/img/icons/icon--facebook.svg" />
        </a>
        <a href="https://fr.linkedin.com/company/akeneo" target="_blank">
            <img src="/img/icons/icon--linkedin.svg" />
        </a>
        <a href="https://www.youtube.com/channel/UCFFKXJdZLX5igCbitT-b6lA" target="_blank">
            <img src="/img/icons/icon--youtube.svg" />
        </a>
    </div>
</footer>
