{{!-- Shared template for the documentation page and guide pages, as well as the PHP client doc --}}
{{#> layout title=title }}
    <div class="container">
        <div class="row guided-tutorials">
            <div class="col-sm-offset-4 col-sm-8 col-xs-12">
                <a href="/tutorials/homepage.html" class="back-button">
                    <button>
                        <img src="/img/icons/icon--arrow-back.svg" style="margin-right: 10px;">
                        All guided tutorials
                    </button>
                </a>
            </div>
            {{{mainContent}}}
        </div>
    </div>
{{/layout}}
