<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} | Akeneo APIs</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="/js/jquery.min.js"></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <link rel="icon" type="image/png" href="/img/faviconV2.png">
    <link rel="stylesheet" href="/css/prism-okaidia.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
    <link rel="preload" href="/fonts/Roobert-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-LightItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-RegularItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-MediumItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-SemiBoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-Heavy.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Roobert-HeavyItalic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

    <!-- Hotjar Tracking Code for https://api.akeneo.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2599654,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TP6QE431E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5TP6QE431E');
    </script>

</head>
<body data-spy="scroll" data-target="#navbar">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-5TP6QE431E"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-default navbar-fixed-top navbar-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img height="18" src="/img/Akeneo_APIs.svg"></img>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown{{#if active_apps}} active{{/if}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title"><a href="/apps/homepage.html">Apps</a></li>
                        <li><a href="/apps/homepage.html">Start building your App</a></li>
                        <li><a href="/apps/overview.html">Overview</a></li>
                        <li><a href="/apps/authentication-and-authorization.html">Authentication and authorization</a></li>
                        <li><a href="/apps/create-the-ux-of-your-app.html">Design an App (UX)</a></li>
                        <li><a href="/apps/secure-your-app.html">Secure your App</a></li>
                        <li><a href="/apps/catalogs.html">Catalogs for Apps</a></li>
                        <li><a href="/apps/app-developer-tools.html">Developer tools</a></li>
                        <li><a href="/apps/app-concepts-and-use-cases.html">App concepts and use cases</a></li>
                        <li><a href="/apps/create-custom-app.html">Custom Apps</a></li>
                    </ul>
                </li>

                <li class="dropdown{{#if active_apps_portal}} active{{/if}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">App portal <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title"><a href="/app-portal/get-started.html">App portal</a></li>
                        <li><a href="/app-portal/get-started.html">Get started</a></li>
                        <li><a href="/app-portal/manage-your-team.html">Manage your team</a></li>
                        <li><a href="/app-portal/create-app-record.html">Create an app record</a></li>
                        <li><a href="/app-portal/publish-your-app.html">App Publication Requirements</a></li>
                        <li><a href="/app-portal/manage-app-availability.html">Manage your app's availability</a></li>
                        <li><a href="/app-portal/manage-app-notifications.html">Manage app notifications</a></li>
                        <li><a href="/app-portal/measure-app-performance.html">Measure app performance</a></li>
                    </ul>
                </li>

                <li class="dropdown{{#if active_api_resources}} active{{/if}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PIM APIs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title">PIM API resources</li>
                        <li><a href="/documentation/introduction.html">REST API</a></li>
                        <li>
                            <ul>
                              <li><a href="/api-reference-index.html">REST API reference</a></li>
                            </ul>
                            <ul>
                              <li><a href="/api-reference-paas-index.html">REST API reference for PaaS</a></li>
                            </ul>
                        </li>
                        <!--
                        <li>
                            <ul>
                                <li><a href="/documentation/why-the-api.html">REST API basics</a></li>
                                <li><a href="/api-reference-index.html">REST API reference</a></li>
                                <li><a href="/getting-started/your-first-tutorial-4x/welcome.html">Your very first tutorial</a></li>
                                <li><a href="/getting-started/connect-the-pim-4x/welcome.html">The "Connect the PIM" tutorial</a></li>
                            </ul>
                        </li>
                      -->
                        <li>
                            <a href="/graphql/getting-started.html">
                            GraphQL API
                            </a>
                        </li>
                        <li>
                          <ul>
                              <li><a href="/graphql/queries-and-arguments.html">Available queries & arguments</a></li>
                          </ul>
                        </li>
                        <!--
                        <li>
                            <ul>
                                <li><a href="/graphql/getting-started.html">Getting started</a></li>
                                <li><a href="/graphql/compatibility.html">PIM Compatibility</a></li>
                                <li><a href="/graphql/recommendations.html">Usage recommendations</a></li>
                            </ul>
                        </li>
                      -->
                        <li>
                            <a href="/event-platform/overview.html">
                              Event Platform <span class="label label-beta">New</span>
                            </a>
                        </li>
                        <li>
                            <ul>
                                <li><a href="/event-platform/available-events.html">Available events</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><a href="/event-platform/available-filters.html">Available filters</a></li>
                            </ul>
                        </li>
                      <!--
                      <li>
                          <ul>
                              <li><a href="/event-platform/overview.html">Overview</a></li>
                              <li><a href="/event-platform/getting-started.html">Getting started</a></li>
                              <li><a href="/event-platform/concepts.html">Concepts</a></li>
                              <li><a href="/event-platform/api-reference.html">API Reference</a></li>
                          </ul>
                      </li>
                    -->
                        <li>
                            <a href="/extensions/overview.html">
                                Extensions <span class="label label-beta">New</span>
                            </a>
                        </li>
                        <li>
                            <ul>
                                <li><a href="/extensions/getting-started.html">UI Extensions</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><a href="/advanced-extensions/custom-component.html">Advanced <span class="label label-beta">New</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/px-insights/overview.html">
                              PX Insights <span class="label label-beta">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="/events-documentation/overview.html">
                                Events API <span class="label label-alert">Deprecated</span>
                            </a>
                        </li>
                        <li><a href="/php-client/introduction.html">PHP API Client</a></li>
                        <li><a href="/concepts/introduction.html">PIM data concepts</a></li>
                        <!--
                        <li>
                            <ul>
                                <li><a href="/concepts/products.html">Product</a></li>
                                <li><a href="/getting-started/from-identifiers-to-uuid-7x/welcome.html">From product identifier to product UUID</a></li>
                                <li><a href="/concepts/catalog-structure.html">Catalog structure</a></li>
                                <li><a href="/concepts/target-market-settings.html">Target market settings</a></li>
                                <li><a href="/concepts/reference-entities.html">Reference entities</a></li>
                                <li><a href="/concepts/asset-manager.html">Asset manager</a></li>
                            </ul>
                        </li>
                      -->
                    </ul>
                </li>
                <li class="dropdown{{#if active_sdm_api_resources}} active{{/if}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SDM API<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title">SDM API resources</li>
                        <li>
                            <a href="/supplier-data-manager/getting-started.html">
                            Supplier Data Manager API <span class="label label-beta">New</span>
                            </a>
                        </li>
                        <li>
                            <ul>
                                <li><a href="/supplier-data-manager/getting-started.html">Getting started</a></li>
                                <li><a href="/supplier-data-manager/common-usage.html">Common usage</a></li>
                                <li><a href="/supplier-data-manager/api-reference.html">API reference</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activation API<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title">Activation API resources</li>
                        <li>
                            <a href="https://api.retail.app.akeneo.cloud/">
                            Activation API <span class="label label-beta">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown{{#if active_guided_tutorials}} active{{/if}}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guided tutorials <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-title"><a href="/tutorials/homepage.html">Guided tutorials</a></li>
                        <li><a href="/tutorials/homepage.html">Guided tutorials</a></li>
                        <li><a href="/tutorials/how-to-get-your-app-token.html">How to get your App token</a></li>
                        <li><a href="/tutorials/how-to-retrieve-pim-structure.html">How to retrieve PIM structure</a></li>
                        <li><a href="/tutorials/how-to-get-families-and-attributes.html">How to get families, family variants, and attributes</a></li>
                        <li><a href="/tutorials/how-to-get-pim-product-information.html">How to get PIM product information</a></li>
                        <li><a href="/tutorials/how-to-collect-product-variations.html">How to collect product variations</a></li>
                        <li><a href="/tutorials/how-to-get-pim-category-tree.html">How get PIM category tree</a></li>
                    </ul>
                </li>

                <li class="{{#if active_news}}active{{/if}}">
                    <a href="/news/2025.html">What's new?</a>
                </li>
            </ul>
            {{#if active_apps}}
            <div class="navbar-right">
                <a href="/app-portal/publish-your-app.html" class="publish-app-button">
                    <button>
                        Publish your app
                        <img src="/img/icons/icon--outside.svg">
                    </button>
                </a>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="search-bar-container">
        <form class="navbar-form navbar-right search-bar-form">
            <div class="form-group form-search">
                <input id="algolia-search" class="form-control search-bar" placeholder="Search whole doc">
            </div>
        </form>
    </div>
</nav>
<div id="mainContent" class="main-content">
    {{> @partial-block }}
</div>
{{> footer }}

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
    docsearch({
        appId: 'USYFJKQ2TZ',
        apiKey: '0432ae035ca73de97c72534104efc0c5',
        indexName: 'akeneo_api_akeneo_com_main',
        inputSelector: '#algolia-search',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35417741-5', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
