{{#> layout title="Oho! I hope it's not a trap!"}}
    <div class="container not-found-page">
        <div class="row">
            <div class="col-xs-12">
                <h1>Oho! What a strange place!</h1>
                <img class="img-responsive img-404" src="img/illustrations/illus--error-404.svg"/>
                <p>Apparently not what you were looking for...</p>
                <p>And we are really sorry for that.</p>
                <a class="btn btn-link" href="https://github.com/akeneo/pim-api-docs/issues">Open an issue</a>
                <a class="btn btn-info" href="/">Get back home</a>
            </div>
        </div>
    </div>
{{/layout}}
