{{#> layout title="Api Docs" active="documentation"}}
    <div class="container">
        <div class="row">
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <hr>
            </div>
        </div>
        {{> contrib-footer}}
    </div>
{{/layout}}
