{{#> layout title="Api Docs" active="documentation"}}
    <div class="container">
        <div class="row">
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-9">
                <hr>
                <p class="text-muted text-right">
                    <i class="fa fa-pencil"></i> Found a typo or a hole in the documentation and feel like contributing?<br>
                    <a href="https://github.com/akeneo/pim-api-docs">Join us on Github!</a>
                </p>
            </div>
        </div>
    </div>
{{/layout}}
