{{#> layout title="Postman collection just for you!"}}
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-11">
          <h1>Play around with the API endpoints!</h1>
          <p><em>Thanks to Postman, easily make calls to the PIM API.</em></p>
          <em>You just have to follow these simple steps and you are ready to go!</em>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-picto panel-default panel-getting-started">
                <a href="https://www.getpostman.com" target="_blank"><img class="img-responsive" src="img/postman.png"></img></a>
                <div class="panel-body">
                  <h3 class="picto">But first, what is Postman?</h3>
                  <p>Postman is a free client application that allows making calls to any API very easily. We use it internally at Akeneo. It helps us develop and test our API. If you want more details, do not hesitate to browse their <a href="https://www.getpostman.com" target="_blank">website</a>.</p>
                  <p>With Postman, you can share your endpoints in <strong>collections</strong> with whoever you want. And that is what we are sharing with you today: our whole collection of endpoints for you to play with!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3>Prerequisites</h3>
                  <h4><i class="fa fa-check-square"></i> An Akeneo PIM is already installed (v1.7)</h4>
                  <p>This can seems pretty obvious. But yeah ! You will need a PIM already installed if you want to make calls with the API.</p><br>
                  <h4><i class="fa fa-check-square"></i> You already followed the <a href="/getting-started-admin.html">Admin getting started guide</a></h4>
                  <p>You will need to have the rights to access the API, as well as a generated client id and its secret to authenticate yourself when making calls to the API.</p><br>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <p class="panel-number">1</p>
            </div>
            <div class="col-xs-11">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3 class="picto">Install Postman</h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>Download the Postman application (which is free by the way) from their official <a href="https://www.getpostman.com/apps" target="_blank">website.</a></p>
                      <p>If you do not wish to download an application, there is a Chrome extension also available (on the same <a href="https://www.getpostman.com/apps" target="_blank">website</a>).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <p class="panel-number">2</p>
            </div>
            <div class="col-xs-11">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3 class="picto">Import the collection and the environment template into Postman</h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>Download the two files below.</p><br>
                      <div class="row">
                        <div class="col-xs-offset-1 col-xs-5">
                          <div class="panel panel-default panel-landing-page panel-clickable">
                            <a href="/files/Akeneo PIM API.postman_collection.json" download>
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-xs-offset-2 col-xs-8">
                                    <svg viewBox="0 0 256 256">
                                      <use xlink:href="/img/icons.svg#icon--file-api-collection"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="text-center">Akeneo PIM API collection</div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="col-xs-5">
                          <div class="panel panel-default panel-landing-page panel-clickable">
                            <a href="/files/Akeneo PIM API environment.postman_environment.json" download>
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-xs-offset-2 col-xs-8">
                                    <svg viewBox="0 0 256 256">
                                      <use xlink:href="/img/icons.svg#icon--file-env-template"></use>
                                    </svg>
                                  </div>
                                </div>
                                <div class="text-center">Environment template</div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <p>In Postman, click on the <code>Import</code> button and drop the two files you just downloaded, in the pop-in that should look like this one.</p>
                      <img class="img-responsive img-thumbnail center-block" src="/img/drop-files-in-postman.png"><br><br>
                      <p>As a result, you will see a new collection in the <code>Collection</code> tab, on the left side of your screen.</p>
                      <img class="img-responsive img-thumbnail" src="/img/collection-in-postman.png"><br><br>
                      <p>A new environment should also have been created in the dropdown in the top right corner.</p>
                      <img class="img-responsive img-thumbnail center-block" src="/img/environment-in-postman.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <p class="panel-number">3</p>
            </div>
            <div class="col-xs-11">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3 class="picto">Set up your environment</h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>Click on the gear wheel in the top right corner, and then select <code>Manage environments</code>.</p> 
                      <img class="img-responsive img-thumbnail center-block" src="/img/manage-environment.png"><br>
                      <P>In the following pop-in, select the environment called <code>Akeneo PIM API environment</code>.</p>
                      <img class="img-responsive img-thumbnail center-block" src="/img/environments.png"><br>
                      <p>Then change the value of the following keys:</p>
                      <ul>
                        <li><code>url</code> with the url where your 1.7 PIM is hosted,</li>
                        <li><code>clientId</code> with your client id that has been generated for this PIM,</li>
                        <li><code>secret</code> with the secret corresponding to this client id,</li>
                        <li><code>username</code> with your PIM username,</li>
                        <li><code>password</code> with your PIM password.</li>
                      </ul>
                      <p>Do not forget to save your changes by clicking the <code>Update</code> button.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <p class="panel-number">4</p>
            </div>
            <div class="col-xs-11">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3 class="picto">Launch the authentication request</h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>In the <code>Akeneo PIM API</code> collection, select the request named <code>Authentication by password</code>.</p>
                      <img class="img-responsive img-thumbnail center-block" src="/img/authentication-request-in-postman.png"><br>
                      <p>Then, hit the <code>Send</code> blue button.</p>
                      <img class="img-responsive img-thumbnail" src="/img/send-button.png"><br>
                      <p>In the response area, you should get an answer similar to this one below.</p>
                      <img class="img-responsive img-thumbnail" src="/img/authentication-response.png">
                      <div class="alert alert-warning">The authentication token only lasts one hour. This means that, after one hour, your token will expire. And you will receive a error message that looks like this.
                      <img class="img-responsive img-thumbnail center-block" src="/img/token-expiration-in-postman.png"><br>
                      Don't panic! You just have to send again the <code>Authentication by password</code> request and you'll be all good!</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <p class="panel-number">5</p>
            </div>
            <div class="col-xs-11">
              <div class="panel panel-default panel-getting-started">
                <div class="panel-body">
                  <h3 class="picto">Play around!</h3>
                  <div class="row">
                    <div class="col-xs-12">
                      <p>You are all set up! You can now send whatever request you want by selecting it in the collection and launching it.</p>
                      <div class="alert alert-danger">In this collection, the requests have been pre-crafted to work with the Icecat dataset. So do not hesitate to change the requests according to the dataset loaded in your PIM!</div>
                      <p>If you have any troubles using Postman, do not hesitate to browse their really complete <a href="https://www.getpostman.com/docs/" target="_blank">documentation.</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <p class="text-muted text-right"><i class="fa fa-pencil"></i> Found a typo or a hole in the documentation and feel like contributing?<br><a href="https://github.com/akeneo/pim-api-docs">Join us on Github!</a></p>
        </div>
      </div>
    </div>
{{/layout}}
