{{#> layout title="Getting started" active_guides=true }}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-11">
                <h1>Guides</h1>
                <p><em>A bit lost? Don't know where to start? You've reached the right page. Here you'll find the first simple steps to begin with our PIM API. Then, don't hesitate to follow our "How to" guides, that explain everything you need to know to succeed on concrete API usecases. ;)</em></p>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="picto">Getting started</h2>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/getting-started-postman-collection.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--postman.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Play around with Postman!</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn">
                                    <a href="/getting-started.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--developer.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Make your very first request</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn">
                                    <a href="/getting-started-admin.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--lock.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Manage the API connections</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="picto">How to</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/guides/dam-connection/introduction.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--Asset.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">The complete guide to connect a DAM to our PIM</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{> contrib-footer}}
    </div>
{{/layout}}
