{{#> layout title="Getting started" active_guides=true }}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-11">
                <h1>Guides</h1>
                <p><em>A bit lost? Don't know where to start? You've reached the right page. Here you'll find the first simple steps to begin with our PIM API. Then, don't hesitate to follow our "How to connect" guides, that explain everything you need to know to succeed on concrete API use cases.</em 😉></p>
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="picto">Tutorials</h2>
                        <h3>With a v4 PIM</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img width="100%" src="img/illustrations/illus--v4.svg"></img>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/getting-started/your-first-tutorial-4x/welcome.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--postman.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Make your very first request</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/getting-started/create-a-connector-4x/welcome.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img width="100%" src="img/illustrations/illus--build_amazing_tools.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Create your first connector</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h3>With a v1.7, v2 or v3 PIM</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <img width="100%" src="img/illustrations/illus--old-versions.svg"></img>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/getting-started/your-first-tutorial-old/welcome.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--postman.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Make your very first request</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/getting-started/create-a-connector-old/welcome.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <img width="100%" src="img/illustrations/illus--build_amazing_tools.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">Create your first connector</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h2 class="picto">What do you want to connect to the PIM?</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default panel-btn panel-slack">
                                    <a href="/guides/dam-connection/introduction.html">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
                                                    <img width="100%" src="img/illustrations/illus--Asset.svg"></img>
                                                </div>
                                            </div>
                                            <div class="panel-btn-big">The complete guide to connect a DAM to our PIM</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{> contrib-footer}}
    </div>
{{/layout}}
