{{#> layout  title="Akeneo API documentation"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-hero">
                    <div class="panel-body">
                        <div class="row">
                            <!-- medium and large screens -->
                            <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
                                <h1 class="emphasis">Improve the way you connect your PIM with the <em class="text-events">Events API</em></h1>
                                <p>With our tutorial, get easily started with the Events API and learn how to manage events in your connector</p>
                                <a class="btn btn-primary" href="/getting-started/quick-start-my-first-webhook-5x/welcome.html">Try the quick start</a>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-6 col-lg-7">
                                <img class="img-responsive img-banner" src="img/illustrations/illus--main-banner.svg"></img>
                            </div>

                            <!-- small screens: iPad -->
                            <div class="hidden-xs hidden-md hidden-lg col-sm-6">
                                <h1 class="emphasis">Improve the way you connect your PIM with the <em class="text-events">Events API</em></h1>
                                <p>With our tutorial, get easily started with the Events API and learn how to manage events in your connector</p>
                                <a class="btn btn-primary" href="/getting-started/quick-start-my-first-webhook-5x/welcome.html">Try the quick start</a>
                            </div>
                            <div class="hidden-xs hidden-md hidden-lg col-sm-6">
                                <img class="img-responsive img-banner" src="img/illustrations/illus--main-banner.svg"></img>
                            </div>

                            <!-- extra small screens : iPhone -->
                            <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                                <img class="img-responsive img-banner" src="img/illustrations/illus--main-banner.svg"></img>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                                <h1 class="emphasis">Improve the way you connect your PIM with the <em class="text-events">Events API</em></h1>
                                <p>With our tutorial, get easily started with the Events API and learn how to manage events in your connector</p>
                                <a class="btn btn-primary" href="/getting-started/quick-start-my-first-webhook-5x/welcome.html">Try the quick start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="panel panel-info panel-btn">
                    <a href="https://help.akeneo.com/pim/serenity/articles/what-is-a-connection.html">
                        <div class="panel-body">
                            <div>
                                <img class="pull-left" alt="Go to help center" src="/img/illustrations/illus--connection.svg" style="max-height: 120px; margin-right: 10px;">
                            </div>
                            <div>
                                <h2>What's a connection?</h2>
                                <p>Connections help you boost your PIM connectivity. Discover how to make the most of them in our help center.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="panel panel-info panel-btn">
                    <a href="https://marketplace.akeneo.com/node/add/extension">
                        <div class="panel-body">
                            <div>
                                <img class="pull-left" alt="Go to marketplace" src="/img/illustrations/illus--marketplace.svg" style="max-height: 120px; margin-right: 10px;">
                            </div>
                            <div>
                                <h2>Your extension is good to go?</h2>
                                <p>Go to our Marketplace and publish it</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="row">
                        <!-- medium, and large screens --> 
                        <div class="hidden-xs hidden-sm col-md-5 col-lg-4">
                            <h2 class="text-right" style="margin-top: 30px;">APIs, the <b><em>BEST</em></b> way<br/>to connect your PIM</h2>
                            <p class="text-right">Do you need to build a middleware<br/> to connect your PIM with a third-party?<br/>We got you covered with this tutorial.</p>
                            <a class="btn btn-primary pull-right" href="/getting-started/connect-the-pim-4x/welcome.html">Start here!</a>
                            <a class="btn btn-primary btn-ghost pull-right" href="/documentation/why-the-api.html">Discover why</a>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-7 col-lg-8">
                            <img class="img-responsive" alt="Build amazing tools on top of your favorite PIM" src="/img/illustrations/illus--build_amazing_tools.svg" style="max-height: 320px;">
                        </div>

                        <!-- small screens: iPad --> 
                        <div class="hidden-xs hidden-md hidden-lg col-sm-6">
                            <h2 class="text-right">APIs, the <b><em>BEST</em></b> way<br/>to connect your PIM</h2>
                            <p class="text-right">Do you need to build a middleware to connect your PIM with a third-party? We got you covered with this tutorial.</p>
                            <a class="btn btn-primary pull-right" href="/getting-started/connect-the-pim-4x/welcome.html">Start here!</a>
                            <a class="btn btn-primary btn-ghost pull-right" href="/documentation/why-the-api.html">Discover why</a>
                        </div>
                        <div class="hidden-xs hidden-md hidden-lg col-sm-6">
                            <img class="img-responsive" alt="Build amazing tools on top of your favorite PIM" src="/img/illustrations/illus--build_amazing_tools.svg" style="max-height: 320px;">
                        </div>

                        <!-- extra small screens: iPhone -->
                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                            <img class="img-responsive center-block" alt="Build amazing tools on top of your favorite PIM" src="/img/illustrations/illus--build_amazing_tools.svg" style="max-height: 320px;">
                        </div>
                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                            <h2 class="text-center" style="margin-top: 30px;">APIs, the <b><em>BEST</em></b> way<br/>to connect your PIM</h2>
                            <p class="text-center">Need to build a middleware to connect your PIM to a third-party? We got you covered with this tutorial.</p>
                            <a class="btn btn-primary btn-ghost center-block" style="width: fit-content;" href="/documentation/why-the-api.html">Discover why</a>
                            <a class="btn btn-primary center-block" style="width: fit-content; margin-top: 5px;" href="/getting-started/connect-the-pim-4x/welcome.html">Start here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>What do you want to connect?</h2>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="panel panel-info panel-btn">
                            <a href="/guides/dam-connection/introduction.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                                            <img width="100%" src="img/illustrations/illus--dam-connection.svg"></img>
                                        </div>
                                    </div>
                                    <h2 class="text-center">A DAM</h2>
                                    <p class="text-center">You may want to connect your Digital Asset Manager to the PIM in order to easily be able to link your product assets to the right product in the PIM.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-info panel-btn">
                            <a href="/guides/ecommerce-connection/introduction.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                                            <img width="100%" src="img/illustrations/illus--ecommerce-connection.svg"></img>
                                        </div>
                                    </div>
                                    <h2 class="text-center">An eCommerce solution</h2>
                                    <p class="text-center">You may want to connect the PIM to your eCommerce solution in order to populate your eCommerce website(s) with your products, categories, assets...<br></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="panel panel-info panel-btn">
                          <a href="/guides/translation-connection/introduction.html">
                              <div class="panel-body">
                                  <div class="row">
                                      <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                                          <img width="100%" src="img/illustrations/illus--translation-connection.svg"></img>
                                      </div>
                                  </div>
                                  <h2 class="text-center">A translation solution</h2>
                                  <p class="text-center">You may want to connect your translation solution to the PIM in order to add a translation feature to Akeneo PIM and thus improve the user experience!<br></p>
                              </div>
                          </a>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-info panel-btn">
                          <a href="/guides/erp-connection/introduction.html">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-offset-3 col-xs-6 col-md-offset-2 col-md-8">
                                        <img width="100%" src="img/illustrations/illus--erp-connection.svg"></img>
                                    </div>
                                </div>
                                <h2 class="text-center">An ERP</h2>
                                <p class="text-center">Every day, new products are referenced in your ERP. You may want to automatically sent them to the PIM in order to start with their enrichment process.</p>
                           </div>
                         </a>
                       </div>
                   </div>
               </div>
               <div class="row">
                 <div class="col-sm-6">
                     <div class="panel panel-info panel-btn">
                         <a href="/guides/syndication-connection/introduction.html">
                             <div class="panel-body">
                                 <div class="row">
                                     <div class="col-xs-offset-4 col-xs-4 col-md-offset-2 col-md-8">
                                         <img width="100%" src="img/illustrations/illus--syndication-connection.svg"></img>
                                     </div>
                                 </div>
                                 <h2 class="text-center">A syndication solution</h2>
                                 <p class="text-center">Maximize the business’s revenue of your customers by creating a connector to distribute PIM products to different channels via your syndication solution.</p>
                             </div>
                         </a>
                     </div>
                 </div>
                 <div class="col-sm-6">
                     <div class="panel panel-info panel-btn">
                         <a href="/guides/print-connection/introduction.html">
                             <div class="panel-body">
                                 <div class="row">
                                     <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 ">
                                         <img width="100%" src="img/illustrations/illus--print-connection.svg"></img>
                                     </div>
                                 </div>
                                 <h2 class="text-center">A print solution</h2>
                                 <p class="text-center">You may want to connect the PIM to your print solution in order to automate the creation of paper catalogs, PDF documents, product sheets...</p>
                             </div>
                         </a>
                    </div>
                </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4">
                <h2 class="text-center">Our references</h2>
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-3 col-sm-6">
                        <img width="100%" src="img/illustrations/illus--developer.svg"></img>
                    </div>
                </div>
                <p class="text-center">You are used to REST API, events and web-hooks, and you want to directly start coding? Here is the list of our REST API endpoints and event types</br>we specially crafted for you</br>with love. ❤️</p>
                <a class="text-rest btn btn-primary btn-ghost center-block btn-rest" href="/api-reference-index.html">GO FOR REST API</a>
                <a class="text-events btn btn-primary btn-ghost center-block btn-events" href="/events-reference/events-reference-serenity/products.html" style="margin-top: 10px;">GO FOR EVENTS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <h2>Tools, tools, tools...</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-ghost panel-btn">
                            <a href="/php-client/introduction.html">
                                <div class="panel-body">
                                    <img width="80px" height="80px" class="pull-left" src="img/icons/icon--php-client.svg" style="margin-right: 20px;"></img>
                                    <h3 style="margin-top: 0px;">Our PHP REST API client</h3>
                                    <p>You are a proud PHP developer? Don't bother working with REST calls, try our PHP client! Brought with love to you.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-ghost panel-btn">
                            <a href="files/Akeneo PIM API.postman_collection.json" target="_blank">
                                <div class="panel-body">
                                    <img width="80px" height="80px" class="pull-left" src="img/icons/icon--postman.svg" style="margin-right: 20px;"></img>
                                    <h3 style="margin-top: 0px;">Our Postman collection</h3>
                                    <p>The easiest way to start with the REST API endpoints. Test, experiment, demo the REST API thanks to this powerful tool!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-ghost panel-btn">
                            <a href="https://github.com/akeneo/pim-api-docs/blob/master/content/swagger/akeneo-web-api.json">
                                <div class="panel-body">
                                    <img width="80px" height="80px" class="pull-left" src="img/icons/icon--rest.svg" style="margin-right: 20px;"></img>
                                    <h3 style="margin-top: 0px;">Our Swagger spec</h3>
                                    <p>Want to dig deeper into the REST API? You can dowload our full REST API specification, in the well-known Swagger format.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                    <h2>Want more?</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/authentication.html">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Authentication ></div>
                                        <p>All you need to know about authentication to be able to access to the REST API.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/permissions.html">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Permissions ></div>
                                        <p>Such wonderful powers behin those precious permissions! Learn more here.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/pagination.html">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Pagination ></div>
                                        <p>All you need to know to handle and to request large databases of products.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/responses.html#client-errors">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Error responses ></div>
                                        <p>You just got a 401 and do not know what to do with this. Here is your solution!</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/update.html#update-behavior">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Update data ></div>
                                        <p>Merging data can be a little bit tricky sometimes. Here is the guide to serene updates.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-ghost panel-btn">
                                <a href="/documentation/filter.html#filters">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Filter products ></div>
                                        <p>You want to be able to retrieve only the products you need. Filters are here to help.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Want to contribute?</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-community-dev">
                                <div class="panel-body">
                                    <div class="panel-btn-big">The REST API itself</div>
                                    <p class="text-center">Need more endpoints? Open source we are! Do not hesitate to help us build the REST API. The more endpoints, the better!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-offset-4 col-xs-4 hidden-sm col-md-offset-0 col-md-2">
                        <img class="img-responsive" src="img/illustrations/illus--contribution.svg"></img>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-api-docs">
                                <div class="panel-body">
                                    <div class="panel-btn-big">This API documentation website</div>
                                    <p class="text-center">Spotted a typo, or even a hole? Help us get better with our documentation. All contributions are warmly welcomed!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="panel panel-info panel-btn">
                    <a href="https://marketplace.akeneo.com">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                                    <img class="img-responsive" src="img/illustrations/illus--marketplace.svg"></img>
                                </div>
                            </div>
                            <h2 class="text-center">Join us on our marketplace!</h2>
                            <p class="text-center">Take a look to what our beloved community already built around Akeneo and cook a connector that our users will love</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/layout}}
