{{#> layout title="Api Docs"}}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <img class="img-responsive center-block" alt="Build amazing tools on top of your favorite PIM" src="/img/build_amazing_tools.png">
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="panel panel-default panel-jumbotron">
                        <div class="panel-body">
                            <h2>Wanna get started?</h2>
                            <p>Tell me who you are and I will tell you where to begin...</p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-12">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/getting-started.html">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-8 col-sm-9">
                                                        <p>I'm a developer!</p>
                                                        <p>And I want to make my first request</p>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-3">
                                                        <svg viewBox="0 0 256 256">
                                                            <use xlink:href="/img/icons.svg#icon--developer"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-12">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/getting-started-admin.html">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-8 col-sm-9">
                                                        <p>I'm a PIM administrator!</p>
                                                        <p>And I want to manage the access to the API</p>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-3">
                                                        <svg viewBox="0 0 256 256">
                                                            <use xlink:href="/img/icons.svg#icon--lock"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <h2>Sneak peek into the API</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs nav-tabs-sneak-peek">
                            <li role="presentation" class="active">
                                <a href="#get-a-product" data-toggle="tab">Get a single product</a>
                            </li>
                            <li role="presentation">
                                <a href="#list-categories" data-toggle="tab">List categories</a>
                            </li>
                            <li role="presentation">
                                <a href="#update-a-family" data-toggle="tab">Update a family</a>
                            </li>
                        </ul>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="get-a-product">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-7">
                                                <h4>REQUEST</h4>
                                                <pre class="hljs"><code>curl http://demo.akeneo.com/api/rest/v1/products/18383104 \
    -H <span class="hljs-string">"Authorization: Bearer NWQzYjM4N2FkNzMyNzE1ZTYzOGVjYjljYWZhZDE3MzE5NDNlYjdkOTgzZmY3ZGI0MzJkYWNkYjFiYjQ0Mjc3ZQ"</span>
</code>
                                                </pre>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div id="get-a-product-btn">
                                                    <h4>NO RESPONSE YET</h4>
                                                    <button class="btn btn-info" onclick="displayResponse('get-a-product')">Go get one!</button>
                                                </div>
                                                <div id="get-a-product-response" style="display: none;">
                                                    <h4>RESPONSE</h4>
                                                    <pre class="hljs"><code><span class="hljs-keyword">200 OK</span>
{
  <span class="hljs-attr">"identifier"</span>:<span class="hljs-string">"18383104"</span>,
  <span class="hljs-attr">"family"</span>:<span class="hljs-string">"camcorders"</span>,
  <span class="hljs-attr">"groups"</span>:[],
  <span class="hljs-attr">"variant_group"</span>:<span class="hljs-literal">null</span>,
  <span class="hljs-attr">"categories"</span>:[<span class="hljs-string">"camcorders"</span>, <span class="hljs-string">"cameras_sales"</span>, <span class="hljs-string">"sony"</span>],
  <span class="hljs-attr">"enabled"</span>:<span class="hljs-literal">true</span>,
  <span class="hljs-attr">"values"</span>:{
    <span class="hljs-attr">"description"</span>:[
      {
        <span class="hljs-attr">"locale"</span>:<span class="hljs-string">"en_US"</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-string">"mobile"</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"Sony HDR-PJ380E, Black"</span>
      },{
        <span class="hljs-attr">"locale"</span>:<span class="hljs-string">"en_US"</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-string">"print"</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"Sony HDR-PJ380E. Colour of product: Black"</span>
      }
    ],
    <span class="hljs-attr">"name"</span>:[
      {
        <span class="hljs-attr">"locale"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"Sony HDR-PJ380E hand-held camcorder"</span>}
    ],
    <span class="hljs-attr">"release_date"</span>:[
      {
        <span class="hljs-attr">"locale"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-string">"ecommerce"</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"2013-05-28T00:00:00+02:00"</span>
      },
      {
        <span class="hljs-attr">"locale"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-string">"mobile"</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"2013-05-28T00:00:00+02:00"</span>
      }
    ],
    <span class="hljs-attr">"picture"</span>:[
      {
        <span class="hljs-attr">"locale"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"scope"</span>:<span class="hljs-literal">null</span>,
        <span class="hljs-attr">"data"</span>:<span class="hljs-string">"0\/3\/d\/7\/03d7ae5b53d8102b7dc81674cdd71002ff63dd0b_P1030985.JPG"</span>,
        <span class="hljs-attr">"_links"</span>:{
          <span class="hljs-attr">"download"</span>:{
            <span class="hljs-attr">"href"</span>:<span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/media-files/0\/3\/d\/7\/03d7ae5b53d8102b7dc81674cdd71002ff63dd0b_P1030985.JPG/download"</span>
          }
        }
      }
    ]
  },
  <span class="hljs-attr">"created"</span>:<span class="hljs-string">"2017-03-07T14:50:16+01:00"</span>,
  <span class="hljs-attr">"updated"</span>:<span class="hljs-string">"2017-03-07T14:53:58+01:00"</span>,
  <span class="hljs-attr">"associations"</span>:{}</code>
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="list-categories">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-7">
                                                <h4>REQUEST</h4>
                                                <pre class="hljs"><code>curl http://demo.akeneo.com/api/rest/v1/categories \
    -H <span class="hljs-string">"Authorization: Bearer NWQzYjM4N2FkNzMyNzE1ZTYzOGVjYjljYWZhZDE3MzE5NDNlYjdkOTgzZmY3ZGI0MzJkYWNkYjFiYjQ0Mjc3ZQ"</span></code></pre>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div id="list-categories-btn">
                                                    <h4>NO RESPONSE YET</h4>
                                                    <button class="btn btn-info" onclick="displayResponse('list-categories')">Go get one!</button>
                                                </div>
                                                <div id="list-categories-response" style="display: none;">
                                                    <h4>RESPONSE</h4>
                                                    <pre class="hljs"><code><span class="hljs-keyword">200 OK</span>
{
  <span class="hljs-attr">"_links"</span>: {
    <span class="hljs-attr">"self"</span>: {
      <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories?page=1&amp;limit=10"</span>
    },
    <span class="hljs-attr">"first"</span>: {
      <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories?page=1&amp;limit=10"</span>
    },
    <span class="hljs-attr">"last"</span>: {
      <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories?page=14&amp;limit=10"</span>
    },
    <span class="hljs-attr">"next"</span>: {
      <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories?page=2&amp;limit=10"</span>
    }
  },
  <span class="hljs-attr">"current_page"</span>: <span class="hljs-number">1</span>,
  <span class="hljs-attr">"pages_count"</span>: <span class="hljs-number">14</span>,
  <span class="hljs-attr">"items_count"</span>: <span class="hljs-number">140</span>,
  <span class="hljs-attr">"_embedded"</span>: {
    <span class="hljs-attr">"items"</span>: [
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/master"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"master"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-literal">null</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Master catalog"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Hauptkatalog"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Catalogue principal"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/tvs_projectors"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"tvs_projectors"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"master"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"TVs and projectors"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"TVs und projectoren"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Téléviseurs et projecteurs"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/pc_monitors"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"pc_monitors"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"tvs_projectors"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"PC Monitors"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"PC Monitoren"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Moniteurs PC"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/led_tvs"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"led_tvs"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"tvs_projectors"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"LED TVs"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"TVs LED"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Télévisions LED"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/cameras"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"cameras"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"master"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Cameras"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Cameras"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Caméras"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/digital_cameras"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"digital_cameras"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"cameras"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Digital cameras"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Digitale Kameras"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Caméras digitales"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/camcorders"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"camcorders"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"cameras"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Camcorders"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Digitale Videokameras"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Caméscopes numériques"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/webcams"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"webcams"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"cameras"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Webcams"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Webcams"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Webcams"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/audio_video"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"audio_video"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"master"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Audio and Video"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Audio und Video"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Audio et Video"</span>
        }
      },
      {
        <span class="hljs-attr">"_links"</span>: {
          <span class="hljs-attr">"self"</span>: {
            <span class="hljs-attr">"href"</span>: <span class="hljs-string">"http://demo.akeneo.com/api/rest/v1/categories/headphones"</span>
          }
        },
        <span class="hljs-attr">"code"</span>: <span class="hljs-string">"headphones"</span>,
        <span class="hljs-attr">"parent"</span>: <span class="hljs-string">"audio_video"</span>,
        <span class="hljs-attr">"labels"</span>: {
          <span class="hljs-attr">"en_US"</span>: <span class="hljs-string">"Headphones"</span>,
          <span class="hljs-attr">"de_DE"</span>: <span class="hljs-string">"Kopfhörer"</span>,
          <span class="hljs-attr">"fr_FR"</span>: <span class="hljs-string">"Casques audio"</span>
        }
      }
    ]
  }
}</code>
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="update-a-family">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-7">
                                                <h4>REQUEST</h4>
                                                <pre class="hljs"><code>curl -X PATCH http://demo.akeneo.com/api/rest/v1/families/camcorders \
    -H <span class="hljs-string">"Authorization: Bearer NWQzYjM4N2FkNzMyNzE1ZTYzOGVjYjljYWZhZDE3MzE5NDNlYjdkOTgzZmY3ZGI0MzJkYWNkYjFiYjQ0Mjc3ZQ"</span> \
    -H <span class="hljs-string">"Content-Type: application/json"</span> \
    <span class="hljs-_">-d</span> <span class="hljs-string">'{ 
      "attribute_requirements":{ 
        "ecommerce":["description","name"] 
      } 
    }'</span></code></pre>
                                            </div>
                                            <div class="col-xs-12 col-sm-5">
                                                <div id="update-a-family-btn">
                                                    <h4>NO RESPONSE YET</h4>
                                                    <button class="btn btn-info" onclick="displayResponse('update-a-family')">Go get one!</button>
                                                </div>
                                                <div id="update-a-family-response" style="display: none;">
                                                    <h4>RESPONSE</h4>
                                                    <pre class="hljs"><code><span class="hljs-keyword">204 No Content</span>

// These attribute requirements have been added to the family
</code>
                                                    </pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Quick resources access</h2>
                    <div class="row">
                        <div class="col-xs-12 access-resources">
                            <a href="/api-reference-index.html#Products" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Products"></use>
                                </svg>
                                <p class="text-center">Product</p>
                            </a>
                            <a href="/api-reference-index.html#Categories" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Categories"></use>
                                </svg>
                                <p class="text-center">Category</p>
                            </a>
                            <a href="/api-reference-index.html#Families" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Families"></use>
                                </svg>
                                <p class="text-center">Family</p>
                            </a>
                            <a href="/api-reference-index.html#Attributes" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Attributes"></use>
                                </svg>
                                <p class="text-center">Attribute</p>
                            </a>
                            <a href="/api-reference-index.html#Mediafiles" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Mediafiles"></use>
                                </svg>
                                <p class="text-center">Media file</p>
                            </a>
                            <a href="/api-reference-index.html#Channels" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Channels"></use>
                                </svg>
                                <p class="text-center">Channel</p>
                            </a>
                            <a href="/api-reference-index.html#Locales" class="link-resource">
                                <svg viewBox="0 0 256 256">
                                    <use xlink:href="/img/icons.svg#icon--Locales"></use>
                                </svg>
                                <p class="text-center">Locale</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h2>Need inspiration?</h2>
                            <div class="panel panel-default panel-landing-page panel-clickable">
                                <a href="https://marketplace.akeneo.com/">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-9">
                                                <p>Join us on the marketplace</p>
                                                <p>Take a look to what our beloved community already built around Akeneo</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-3">
                                                <svg viewBox="0 0 256 256">
                                                    <use xlink:href="/img/icons.svg#icon--marketplace"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h2>Our API roadmap</h2>
                            <div class="panel panel-default panel-landing-page panel-disabled">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-9">
                                            <p>Where are we heading?</p>
                                            <p>Here you will find our roadmap for the next version of the API #transparency</p>
                                        </div>
                                        <div class="col-xs-4 col-sm-3">
                                            <svg viewBox="0 0 256 256">
                                                <use xlink:href="/img/icons.svg#icon--bulb"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Want more?</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/security.html">
                                            <div class="panel-body">
                                                <p>Security</p>
                                                <p>From authentication to authorization, all you need to know about security</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/pagination.html">
                                            <div class="panel-body">
                                                <p>Handling pagination</p>
                                                <p>How it works and all you need to request large database of products</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/responses.html#client-errors">
                                            <div class="panel-body">
                                                <p>Error responses</p>
                                                <p>You just got a 401 and do not know what to do. Here is your solution!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-3">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/introduction.html#from-the-old-api-to-the-new-one">
                                            <div class="panel-body">
                                                <p>From old to new</p>
                                                <p>You were using the old API. Here is a mini-guide to help you migrate your code</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/update.html#update-behavior">
                                            <div class="panel-body">
                                                <p>Update data</p>
                                                <p>Merging data can be a little bit tricky. Here is the guide to serene updates.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="/documentation/filter.html#filters">
                                            <div class="panel-body">
                                                <p>Filter products</p>
                                                <p>You want to be able to retrieve only the products you need. Filters are here to help.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Wanna contribute?</h2>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="panel panel-default panel-landing-page panel-clickable">
                                        <a href="https://github.com/akeneo/pim-community-dev">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-9">
                                                        <p>API</p>
                                                        <p>Open source we are! Do not hesitate to help us build the API. The more endpoints, the better!</p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <svg viewBox="0 0 256 256">
                                                            <use xlink:href="/img/icons.svg#icon--octocat"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="panel panel-default panel-landing-page panel-clickable panel-new">
                                        <a href="https://github.com/akeneo/pim-api-docs">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-9">
                                                        <p>API documentation</p>
                                                        <p>Spotted a typo, or even a hole? Help us get better with our documentation!</p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <svg viewBox="0 0 256 256">
                                                            <use xlink:href="/img/icons.svg#icon--octocat"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function displayResponse(responseId) {
                document.getElementById(responseId + "-response").style.display = "block";
                document.getElementById(responseId + "-btn").style.display = "none";
            }
        </script>
{{/layout}}
