{{#> layout  title="Akeneo API documentation"}}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="visible-lg col-lg-5">
                    <h1 class="emphasis text-right" style="margin-top: 50px; margin-bottom: 30px;">Create amazing tools<br> around your PIM with the API</h1>
                    <a class="btn btn-info pull-right" href="/api-reference-index.html">Show me the endpoints!</a>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-5">
                    <img class="img-responsive center-block" alt="Build amazing tools on top of your favorite PIM" src="/img/illustrations/illus--build_amazing_tools.svg" style="max-height: 320px;">
                </div>
                <div class="col-xs-12 hidden-lg">
                    <h1 class="emphasis text-center" style="margin-bottom: 30px; margin-top: 20px;">Create amazing tools around your PIM with the API</h1>
                    <a class="btn btn-info center-block" href="/api-reference-index.html" style="width: fit-content;">Show me the endpoints!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Getting started guides</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn panel-slack">
                            <a href="/getting-started-postman-collection.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--postman.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Play around with Postman!</div>
                                    <p class="text-center">With our Postman collection, the API power at your hands in just a few minutes</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn">
                            <a href="/getting-started.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--developer.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Make your first request</div>
                                    <p class="text-center">Whether you are using the PHP API client or curl, your way to go</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn">
                            <a href="/getting-started-admin.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--lock.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Manage the API connections</div>
                                    <p class="text-center">Create your first credentials and configure your rights to access the API</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Tools, tools, tools...</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn panel-slack">
                            <a href="/php-client/introduction.html">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--php-client.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Our PHP API client</div>
                                    <p class="text-center">You're a proud PHP developer? Don't bother working with REST calls, try our PHP client! Brought with love to you.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-api-docs/blob/master/content/swagger/akeneo-web-api.yaml">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--swagger.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Our Swagger spec</div>
                                    <p class="text-center">Wanna dig deeper into the API? Here is our full API specification, in Swagger format.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-api-docs/tree/master/content/files">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                                            <img width="100%" src="img/illustrations/illus--postman.svg"></img>
                                        </div>
                                    </div>
                                    <div class="panel-btn-big">Our Postman collection</div>
                                    <p class="text-center">The easiest way to start with the API endpoints. Experiment, test, make demos of the API thanks to this powerful tool!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Quick resources access</h2>
            </div>
            <div class="col-xs-12 col-lg-offset-2 col-lg-8">
                <h3 class="text-center">Community & Enterprise Editions</h3>
                <div class="row">
                    <div class="col-xs-12 access-resources">
                        <a href="/api-reference-index.html#Products" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Products.svg"></img>
                            <p class="text-center">Product</p>
                        </a>
                        <a href="/api-reference-index.html#Productmodels" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Productmodels.svg"></img>
                            <p class="text-center">Product model</p>
                        </a>
                        <a href="/api-reference-index.html#Categories" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Categories.svg"></img>
                            <p class="text-center">Category</p>
                        </a>
                        <a href="/api-reference-index.html#Families" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Families.svg"></img>
                            <p class="text-center">Family</p>
                        </a>
                        <a href="/api-reference-index.html#Attributes" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Attributes.svg"></img>
                            <p class="text-center">Attribute</p>
                        </a>
                        <a href="/api-reference-index.html#Attributegroups" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Attributegroups.svg"></img>
                            <p class="text-center">Attribute group</p>
                        </a>
                        <a href="/api-reference-index.html#Associationtypes" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Associationtypes.svg"></img>
                            <p class="text-center">Association type</p>
                        </a>
                        <a href="/api-reference-index.html#Channels" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Channels.svg"></img>
                            <p class="text-center">Channel</p>
                        </a>
                        <a href="/api-reference-index.html#Locales" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Locales.svg"></img>
                            <p class="text-center">Locale</p>
                        </a>
                        <a href="/api-reference-index.html#Mediafiles" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Mediafiles.svg"></img>
                            <p class="text-center">Media file</p>
                        </a>
                        <a href="/api-reference-index.html#Currencies" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Currencies.svg"></img>
                            <p class="text-center">Currency</p>
                        </a>
                        <a href="/api-reference-index.html#Measurefamilies" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Measurefamilies.svg"></img>
                            <p class="text-center">Measure family</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-offset-2 col-lg-8">
                <h3 class="text-center">Enterprise Edition Only</h3>
                <div class="row">
                    <div class="col-xs-12 access-resources">
                        <a href="/api-reference-index.html#PublishedProducts" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Publishedproducts.svg"></img>
                            <p class="text-center">Published product</p>
                        </a>
                        <a href="/api-reference-index.html#Products" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Drafts.svg"></img>
                            <p class="text-center">Product draft</p>
                        </a>
                        <a href="/api-reference-index.html#Assets" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Assets.svg"></img>
                            <p class="text-center">Asset</p>
                        </a>
                        <a href="/api-reference-index.html#Assetcategories" class="link-resource">
                            <img class="img-responsive center-block" src="img/illustrations/illus--Assetcategories.svg"></img>
                            <p class="text-center">Asset categories</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                    <h2>Want more?</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/security.html">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Security</div>
                                        <p class="text-center">From authentication to authorization, all you need to know about security.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/pagination.html">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Handling pagination</div>
                                        <p class="text-center">How it works and all you need to request large database of products.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/responses.html#client-errors">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Error responses</div>
                                        <p class="text-center">You just got a 401 and do not know what to do. Here is your solution!</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/introduction.html#from-the-old-api-to-the-new-one">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">From old to new</div>
                                        <p class="text-center">You were using the API in 1.6. Here is a mini-guide to help you migrate your code.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/update.html#update-behavior">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Update data</div>
                                        <p class="text-center">Merging data can be a little bit tricky. Here is the guide to serene updates.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <div class="panel panel-default panel-btn">
                                <a href="/documentation/filter.html#filters">
                                    <div class="panel-body">
                                        <div class="panel-btn-big">Filter products</div>
                                        <p class="text-center">You want to be able to retrieve only the products you need. Filters are here to help.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Wanna contribute?</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-community-dev">
                                <div class="panel-body">
                                    <div class="panel-btn-big">The API itself</div>
                                    <p class="text-center">Want more endpoints? Open source we are! Do not hesitate to help us build the API. The more endpoints, the better!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-offset-4 col-xs-4 col-sm-offset-0 col-sm-2">
                        <img class="img-responsive" src="img/illustrations/illus--contribution.svg"></img>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="panel panel-default panel-btn">
                            <a href="https://github.com/akeneo/pim-api-docs">
                                <div class="panel-body">
                                    <div class="panel-btn-big">This API documentation website</div>
                                    <p class="text-center">Spotted a typo, or even a hole? Help us get better with our documentation. All contributions are warmly welcomed!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-light panel-btn">
                    <a href="https://marketplace.akeneo.com">
                        <div class="panel-body">
                            <h2>Need inspiration?</h2>
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
                                    <img class="img-responsive" src="img/illustrations/illus--marketplace.svg"></img>
                                </div>
                            </div>
                            <p class="text-center">Join us on the marketplace and take a look to what our beloved community already built around Akeneo</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Our API roadmap</h2>
                <div class="panel panel-default panel-disabled">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-8">
                                <h4>Where are we heading?</h4>
                                <p>Here you will find our roadmap for the next version of the API #transparency</p>
                            </div>
                            <div class="col-xs-4">
                                <img class="img-responsive" src="img/illustrations/illus--bulb-disabled.svg"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/layout}}
