button.btn,
a.btn {
    border-radius: 5px;
    border-width: 2px;
    padding: 5px 16px;
    text-transform: uppercase;

    &.btn-bottom-fixed{
        position: fixed;
        bottom: 10px;
        right: 15px;
        display: none;
    }
    &.btn-navup{
        color: @gray;
        border: 1px @gray-light solid;
        background-color: white;
        padding-bottom: 10px;
        &:active{
            background-color: @gray-lighter;
            border-color: @gray;
        }
    }
    &.btn-default{
        border: 1px solid @gray-lighter;
    }
    &.btn-primary{
        color: white;
        border: 1px @brand-info solid;
        background-color: @brand-info;
        border: 2px solid;
        &:hover{
            background-color: darken(@brand-info, 25%);
        }
    }
    &.btn-ghost.btn-primary{
        .button-variant(@brand-info;
        transparent;
        @brand-info);
        border: 2px solid;
        &:hover{
            background-color: lighten(@brand-info, 50%);
        }
    }
    &.btn-ghost.btn-primary.btn-rest{
        .button-variant(@api-rest;
        transparent;
        @api-rest);
        border: 2px solid;
        &:hover{
            background-color: lighten(@api-rest, 50%);
        }
        width: fit-content
    }
    &.btn-ghost.btn-primary.btn-events{
        .button-variant(@api-events;
        transparent;
        @api-events);
        border: 2px solid;
        &:hover{
            background-color: lighten(@api-events, 50%);
        }
        width: fit-content
    }
    +a.btn.pull-right {
        margin-right: 10px;
    }
}

.btn-akeneo {
    .button-variant(#fff;
    @brand-akeneo;
    @btn-default-border);
}

button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    background: none;
    border: none;
    color: @brand-info;
    .box-shadow(none);
}

.dropdown {
    position: relative;
    button.btn {
        color: @brand-info;
        text-transform: none;
        border: none;
        background: none;
        font-size: @font-size-base;
        font-weight: 300;
        padding-top: 0;
        padding-bottom: 0;
    }
    .dropdown-menu {
        position: absolute;
        opacity: 0;
        transition: opacity 0.1s ease-out;
        animation-iteration-count: 1;
        top: -7px;
        left: -90px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 0;
    }
    &.open {
        >a {
            background-color: inherit;
            color: inherit;
        }
        .dropdown-menu {
            background-color: white;
            opacity: 1;
            animation: fadeIn 0.1s ease-in;
            li.dropdown-title {
                text-transform: uppercase;
                color: @brand-primary;
                margin: 3px 20px;
                border-bottom: 1px @brand-primary solid;
                font-size: 14px;

                a {
                    padding: 0;
                    font-weight: 300;

                    &:hover {
                        font-weight: 700;
                        background: none;
                    }
                }
            }
            li a {
                color: @brand-primary;
            }
        }
    }
}

.caret {
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url('../img/icons/icon--down.svg') no-repeat 0 center;
    background-size: 12px;
    margin-left: 3px;
    border: none;
}
