.jumbotron{
  background-color: @brand-primary;
  h1{
    color: white;
  }
  h2{
    margin-top: 0px;
  }
  p{
    font-size: @font-size-base;
    font-weight: normal;
  }
  .btn  p{
    margin-left: 10px;
    &.lead{
      margin-bottom: 0;
      margin-top: 20px;
      font-size: @font-size-large;
    }
  }
  .panel{
    margin-top: 0;
  }
}