.label-akeneo {
  .label-variant(@brand-akeneo);
}
.label-version {
  .label-variant(white);
  color: @brand-primary;
}

.rotated-label{
  padding-right: 25px;
  .label-beta {
    position: absolute;
    right: -10px;
    top: 10px;
    .rotate(15deg);
  }
}

.label.label-verb{
  text-transform: uppercase;
  &.label-patch{
    .label-akeneo();
  }
  &.label-post{
    .label-info();
  }
  &.label-get{
    .label-success();
  }
  &.label-delete{
    .label-danger();
  }
}