@import "../node_modules/bootstrap/less/bootstrap.less";

@grid-gutter-width: 60px;
// Small screen / tablet
@container-tablet: (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm: @container-tablet;

// Medium screen / desktop
@container-desktop: (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md: @container-desktop;

// Large screen / wide desktop
@container-large-desktop: (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg: @container-large-desktop;


@font-family-sans-serif: Roobert,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

@fake-white: #F5F5F5;

@text-color: #230052;

@brand-primary: #230052;
@brand-success: #01B47E;
@brand-info: #994AFF;
@brand-warning: #F6BE00;
@brand-danger: #DC2026;
@brand-akeneo: #994AFF;
@brand-print-purple: #230052;
@brand-print-yellow: #F6BE00;

@gray: #230052;
@gray-light: #A1A9B7;
@gray-light2: #D9DDE2;
@gray-lighter: #F1F4F9;


@api-rest: #994AFF;
@api-events: #4B7EFF;

@link-color: @brand-info;
@link-hover-color: darken(@link-color, 20%);
@link-hover-decoration: underline;

@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * 1.25));
@font-size-small: ceil((@font-size-base * 0.85));

@font-size-h1: 30px;
@font-size-h2: 24px;
@font-size-h3: @font-size-base;
@font-size-h4: @font-size-base;
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));
@headings-color: @brand-primary;


@line-height-base: 1.7;

@spacing-base: 60px;
@search-bar-height: 64px;

@border-radius-base: 4px;

@navbar-height: @spacing-base;
@navbar-default-color: @brand-primary;
@navbar-default-bg: @gray-lighter;
@navbar-default-border: @gray-lighter;
@navbar-border-radius: 0px;
@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;

@panel-footer-bg: @gray-lighter;

@input-height-base: 30px;
@input-border-radius: 4px;

@screen-xlg-min: 1500px;

body {
    padding-top: @spacing-base;
    height: 100%;
    overflow-y: scroll;
    font-weight: 300;
    background-color: @fake-white;
}

table {
    font-weight: 300;
}

strong {
    font-weight: normal;
}

p,
li {
    line-height: @line-height-base;
}

.container {
    margin-bottom: @spacing-base;
}

.description-table {
    border: 1px solid #677688;
    border-radius: 20px;
    & td, th {
        border: 1px solid #677688;
        padding: 10px;
        text-align: center;
    }
}

@import "guided-tutorial.less";
@import "apps-homepage.less";
@import "apps-developer-tools.less";
@import "button.less";
@import "code.less";
@import "codetabs.less";
@import "nav.less";
@import "label.less";
@import "alert.less";
@import "footer.less";
@import "font.less";
@import "list.less";
@import "fa.less";
@import "anchor.less";
@import "panel.less";
@import "jumbotron.less";
@import "typography.less";
@import "link.less";
@import "forms.less";
@import "landing-page.less";
@import "img.less";
@import "modal.less";
@import "persona.less";
@import "sticky.less";
@import "layout.less";
